/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Footer

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.site-footer { position: relative; background: @color-grey; background-size: auto 49%;
	.container { min-height: 100vh; .flex(); .flex-direction(column); .justify-content(space-between); padding-top: 3.6vw; padding-bottom: 2.6vw;
		&:before, &:after { display: none; }
	}
}
.site-footer__block { position: relative; .flex(); .justify-content(space-between);
	&:last-child { .align-items(flex-end); }
}


@media @mobile {
	.site-footer { background-image: none;
		.container { min-height: auto; display: block; padding: 30px; }
	}
	.site-footer__block { display: block; }
}


/* ==========================================================================
   Logo
   ========================================================================== */

.site-footer__logo { position: absolute; top: 0; left: 50%; transform: translateX(-50%); }
.site-footer__logo__bg { display: block; max-width: 18.75vw; max-height: 37.5vh; }
.site-footer__logo__in { position: absolute; left: 50%; top: 40%; transform: translate(-50%,-50%); width: 100%; color: @color-text-2; font-weight: 500; font-size: .7em; letter-spacing: .8em; text-transform: uppercase; line-height: normal; text-align: center;
	img { display: block; width: 64%; margin: .5rem auto .75rem; }
}

@media @mobile {
	.site-footer__logo { display: none; }
}


/* ==========================================================================
   Flags
   ========================================================================== */

.site-footer__flag { display: block; position: absolute; top: 0; width: 4.5vw;
	&.kalinka { left: 12.5vw; }
	&.awards { left: 17.7vw; }
}

@media @mobile {
	.site-footer__flag { display: none; }
}


/* ==========================================================================
   Background
   ========================================================================== */

.site-footer__bg { display: block; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); max-height: 49%; max-width: 39%; }

@media @mobile {
	.site-footer__bg { display: none; }
}


/* ==========================================================================
   Copy
   ========================================================================== */

.site-footer__copy { margin: 0 0 0 14.6vw; color: @color-txt-grey; font-size: 1rem; line-height: 1.25;
	p { margin: 0 0 1em;
		&:last-child { margin-bottom: 0; }
		span { font-size: .75em; }
	}
}

@media @mobile {
	.site-footer__copy { margin: 0 0 1em; }
}


/* ==========================================================================
   Copy Right
   ========================================================================== */

.site-footer__copy-sm { color: @color-txt-grey; font-size: .8rem; line-height: 1.25; }

@media @mobile {
	.site-footer__copy-sm { font-size: 1rem; margin: 0 0 60px; }
}


/* ==========================================================================
   Callback
   ========================================================================== */

.site-footer__callback { .flex(); .justify-content(space-between); .align-items(center); margin: 0 0 1.5vw; }

@media @mobile {
	.site-footer__callback { margin: 50px 0; }
}


/* ==========================================================================
   Site Contacts
   ========================================================================== */

.site-contacts { text-align: right; }
.site-contacts__num { font-family: @font-addl; color: @color-text-2; font-size: 1.5rem; line-height: .9; letter-spacing: .06em; }
.site-contacts__link { font-size: 1rem; }


/* ==========================================================================
   Menu
   ========================================================================== */

.site-footer__menu { font-size: 1.2rem; line-height: normal;
	a { color: @color-text;
		&:hover { color: @color-blue; }
		&.active { opacity: .5; pointer-events: none; }
	}
	span { opacity: .5; }
	li { margin: 0 0 .5em; }
}

.site-footer__menu-left,
.site-footer__menu-right { .flex(); }
.site-footer__menu-left {
	.site-footer__menu { padding: 0 .5em 0 0;
		&:first-child { width: 14.6vw; }
	}
}
.site-footer__menu-right {
	.site-footer__menu { margin: 0 0 0 1.5em;  }
}


@media @mobile {
	.site-footer__menu { display: none; }
}


/* ==========================================================================
   Agreement
   ========================================================================== */

.site-footer__agree { font-size: 1rem; line-height: 1.25;
	a { color: @color-txt-grey; border-bottom: solid 1px fade(@color-txt-grey, 70%);
		&:hover { border-bottom-color: transparent; }
	}
}


/* ==========================================================================
   Developer
   ========================================================================== */

.site-footer__dev { .flex(); .align-items(flex-end); }
.site-footer__dev__looove { .flex(); .align-items(center); }
.site-footer__dev__logo { width: 4.5vw; }
.site-footer__dev__txt { color: @color-text-2; font-family: @font-addl; font-size: 1.5rem; line-height: .9; margin: 0 1em 0 .5em;
	span { color: @color-blue; border-bottom: solid 2px fade(@color-blue, 80%); }
}
.site-footer__dev__people { height: 5.4rem; }


@media @mobile {
	.site-footer__dev { margin: 50px auto 0; width: 270px; }
	.site-footer__dev__logo { width: 100px; }
}












































