/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Header

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.site-header { background: #263b3d; color: #fff; position: fixed; left: 0; top: 0; right: 0; z-index: 50;
	.container { .flex(); .align-items(center); .justify-content(space-between); height: 4rem;
		&:before, &:after { display: none; }
	}

	.site-contacts__num { color: @color-beige; }
}


/* ==========================================================================
   Logo
   ========================================================================== */

.site-header__logo { width: 10.4vw; position: relative; transform: translateY(12%);
	>img { display: block; width: 100%; }
	.beetle { width: 54%; position: absolute; left: 90%; top: 55%; }
}

@media @mobile {
	.site-header__logo { width: 160px; }
}


/* ==========================================================================
   Menu
   ========================================================================== */

.site-header__menu {
	a { color: #fff; font-size: 1.2rem;
		&:hover { color: @color-blue; }
	}
	li { display: inline-block; vertical-align: baseline; margin: 0 .9vw; }
}
.site-header__title { color: @color-beige !important; font-weight: 800; font-size: 1.5rem !important; letter-spacing: -.02em; }


@media @mobile {
	.site-header__menu { position: fixed; left: 0; top: 79px; right: 0; bottom: 0;  background: #263b3d; padding: 30px; transform: translateX(-100%); transition: transform .5s;
		a { font-size: 1.8rem; display: block; line-height: 2; }
		li { display: block; margin: 0; }

		body.menu-opened & { transform: translateX(0); }
	}
	.site-header__title { font-size: 2rem !important; }
}


/* ==========================================================================
   Burger
   ========================================================================== */

.burger { position: relative; display: block; width: 5.5rem; height: 4rem; border: none; background: none; margin: 0 -30px; padding: 0 30px;
	span { display: block; background: #fff; height: 4px; margin: 8px 0; width: 50px; }

	body.menu-opened & {
		span { display: none;
			&:first-child, &:last-child { display: block; position: absolute; left: 50%; top: 50%; margin: 0; }
			&:first-child { transform: translate(-50%,-50%) rotate(45deg); }
			&:last-child { transform: translate(-50%,-50%) rotate(-45deg); }
		}
	}
}

@media @desktop {
	.burger { display: none; }
}




















































