<section class="scr-hot" id="section-hot">
	<div class="container">
		<div class="scr-hot__head">
			<div class="sct-title">
				@@if (context.page === "index") {
					Изучите топ-5 <span class="color-grey">горячих<br class="for-desktop"/>
					предложений по всей Жуковке</span>
				}
				@@if (context.page === "estate") {
					Смотрите уникальные<br/>
					предложения <span class="color-grey">в @@where<br/>
					на сегодня</span>
				}
			</div>

			<div class="scr-hot__logos">
				<img class="scr-hot__premium" src="_asset/img/premium.svg" alt=""/>
				<div class="stamp">
					96
				</div>
			</div><!--.scr-hot__logos-->
		</div><!--.scr-hot__head-->
	</div><!--.container-->

	<div class="hot-slider">
		<div class="hot-slider__slide">
			<div class="hot-card">
				<div class="hot-card__gall">
					<div class="hot-card__gall__for" id="sfor-1">
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/b9b9b9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/c9c9c9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/d9d9d9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/b9b9b9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/c9c9c9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/d9d9d9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/b9b9b9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/c9c9c9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/d9d9d9/ffffff" alt=""/>
						</div>
					</div><!--.hot-card__gall__for-->

					<div class="hot-card__gall__nav" id="snav-1">
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
					</div>
				</div><!--.hot-card__gall-->

				<div class="hot-card__cont">
					<div>
						<div class="hot-card__title">
							Дом с собственным кинотеатром
						</div>
						<table class="hot-card__tbl">
							<tr>
								<th>Площадь:</th>
								<td>1300&nbsp;м<sup>2</sup></td>
							</tr>
							<tr>
								<th>Участок:</th>
								<td>29 соток</td>
							</tr>
							<tr>
								<th>Этажность:</th>
								<td>3 этажа</td>
							</tr>
							<tr>
								<th>Посёлок:</th>
								<td><a class="link-border" href="#">Жуковка-3</a></td>
							</tr>
						</table>
						<div class="typical-txt">
							<div class="read-more">
								Text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								<span class="js-more">Читать дальше</span>
							</div>
						</div>
					</div>
					<div class="hot-card__bottom">
						<div class="hot-card__price">
							467 млн. рублей
						</div>
						<button type="button" class="btn btn_blue btn_sm js-modal" data-target="#modal-order">
							<span class="btn__in">Купить</span>
							<span class="btn__hover">Купить</span>
						</button>
					</div>
				</div><!--.hot-card__cont-->
			</div><!--.hot-card-->
		</div><!--.hot-slider__slide-->

		<div class="hot-slider__slide">
			<div class="hot-card">
				<div class="hot-card__gall">
					<div class="hot-card__gall__for" id="sfor-2">
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/b9b9b9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/c9c9c9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/d9d9d9/ffffff" alt=""/>
						</div>
					</div><!--.hot-card__gall__for-->

					<div class="hot-card__gall__nav" id="snav-2">
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
					</div>
				</div><!--.hot-card__gall-->

				<div class="hot-card__cont">
					<div>
						<div class="hot-card__title">
							Дом с собственным кинотеатром
						</div>
						<table class="hot-card__tbl">
							<tr>
								<th>Площадь:</th>
								<td>1300&nbsp;м<sup>2</sup></td>
							</tr>
							<tr>
								<th>Участок:</th>
								<td>29 соток</td>
							</tr>
							<tr>
								<th>Этажность:</th>
								<td>3 этажа</td>
							</tr>
							<tr>
								<th>Посёлок:</th>
								<td><a class="link-border" href="#">Жуковка-3</a></td>
							</tr>
						</table>
						<div class="typical-txt">
							<div class="read-more">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								<span class="js-more">Читать дальше</span>
							</div>
						</div>
					</div>
					<div class="hot-card__bottom">
						<div class="hot-card__price">
							467 млн. рублей
						</div>
						<button type="button" class="btn btn_blue btn_sm js-modal" data-target="#modal-order">
							<span class="btn__in">Купить</span>
							<span class="btn__hover">Купить</span>
						</button>
					</div>
				</div><!--.hot-card__cont-->
			</div><!--.hot-card-->
		</div><!--.hot-slider__slide-->

		<div class="hot-slider__slide">
			<div class="hot-card">
				<div class="hot-card__gall">
					<div class="hot-card__gall__for" id="sfor-3">
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/b9b9b9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/c9c9c9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/d9d9d9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/b9b9b9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/c9c9c9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/d9d9d9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/b9b9b9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/c9c9c9/ffffff" alt=""/>
						</div>
						<div class="hot-card__gall__for__slide js-bg-cover">
							<img class="js-bg-cover__img" src="https://via.placeholder.com/960/d9d9d9/ffffff" alt=""/>
						</div>
					</div><!--.hot-card__gall__for-->

					<div class="hot-card__gall__nav" id="snav-3">
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
						<div class="hot-card__gall__nav__slide">
							<div class="js-bg-cover">
								<img class="js-bg-cover__img" src="https://via.placeholder.com/120/a6a9ab/ffffff" alt=""/>
							</div>
						</div>
					</div>
				</div><!--.hot-card__gall-->

				<div class="hot-card__cont">
					<div>
						<div class="hot-card__title">
							Дом с собственным кинотеатром
						</div>
						<table class="hot-card__tbl">
							<tr>
								<th>Площадь:</th>
								<td>1300&nbsp;м<sup>2</sup></td>
							</tr>
							<tr>
								<th>Участок:</th>
								<td>29 соток</td>
							</tr>
							<tr>
								<th>Этажность:</th>
								<td>3 этажа</td>
							</tr>
							<tr>
								<th>Посёлок:</th>
								<td><a class="link-border" href="#">Жуковка-3</a></td>
							</tr>
						</table>
						<div class="typical-txt">
							<div class="read-more">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								<span class="js-more">Читать дальше</span>
							</div>
						</div>
					</div>
					<div class="hot-card__bottom">
						<div class="hot-card__price">
							467 млн. рублей
						</div>
						<button type="button" class="btn btn_blue btn_sm js-modal" data-target="#modal-order">
							<span class="btn__in">Купить</span>
							<span class="btn__hover">Купить</span>
						</button>
					</div>
				</div><!--.hot-card__cont-->
			</div><!--.hot-card-->
		</div><!--.hot-slider__slide-->
	</div><!--.hot-slider-->

	<div class="container">
		<div class="scr-hot__bottom">
			<div class="scr-hot__bottom__txt">
				<div class="typical-txt">
					или ответьте на <b>5 коротких вопросов</b> и мы<br/>
					сделаем вам индивидуальное предложение
				</div>
				<img src="_asset/img/scr-hot__bottom__line.svg" alt=""/>
			</div>
			<div class="scr-hot__bottom__btn">
				<button type="button" class="btn js-modal" data-target="#modal-quiz">
					<span class="btn__in">Подобрать предложение</span>
					<span class="btn__hover">Подобрать предложение</span>
				</button>
			</div>
		</div><!--.scr-hot__bottom-->
	</div><!--.container-->
</section><!--.scr-hot-->