<section class="scr-hypothec" id="section-hypothec">
	<div class="container">
		<div class="hypothec">
			<div class="hypothec__left">
				<div>
					<div class="sct-title">
						Посчитайте<br/>
						Ипотеку
					</div>

					<div class="hypothec__choose">
						<div class="hypothec__choose__lbl">
							Стоимость недвижимости, ⃏
						</div>
						<div class="hypothec__choose__val">
							<div class="hypothec__choose__val-main js-val-cost">
								345 000 000
							</div>
						</div>

						<input type="text"
						       class="hypothec__range js-range-cost"/>
					</div><!--.hypothec__choose-->

					<div class="hypothec__choose">
						<div class="hypothec__choose__lbl">
							Первый взнос, ⃏
						</div>
						<div class="hypothec__choose__val">
							<div class="hypothec__choose__val-main js-val-first">
								87 975 000
							</div>
							<div class="hypothec__choose__val-addl">
								≈<span class="js-first-perc">25,5</span>%
							</div>
						</div>

						<input type="text"
						       class="hypothec__range js-range-first"/>
					</div><!--.hypothec__choose-->

					<div class="hypothec__choose">
						<div class="hypothec__choose__lbl">
							Срок, лет
						</div>
						<div class="hypothec__choose__val">
							<div class="hypothec__choose__val-main js-val-time">
								20
							</div>
						</div>

						<input type="text"
						       class="hypothec__range js-range-time"/>
					</div><!--.hypothec__choose-->
				</div>

				<button type="button" class="btn js-modal" data-target="#modal-order">
					<span class="btn__in">Оставить заявку</span>
					<span class="btn__hover">Оставить заявку</span>
				</button>
			</div><!--.hypothec__left-->

			<div class="hypothec__right">
				<div class="hypothec__right__caption">
					Подходит 9 предложений банков<br/>
					платеж <b>от 182 199 ⃏/месяц</b>
				</div>

				<div class="bank-cards">
					<div class="bank-card" data-first="50" data-time="30" data-rate="8.4">
						<div class="bank-card__head">
							<img class="bank-card__logo" src="_asset/img/bank-zap.png" alt=""/>
							<div>
								<div class="bank-card__percent">
									от 8,4%
								</div>
								<div class="bank-card__info">
									<div class="bank-card__info__i">?</div>
									<div class="hint">
										Обязательные документы:Паспорт, СНИЛС , Заверенная копия трудовой книжки или трудовой договор, Военный билет (для лиц моложе 27 лет)<br/><br/>
										Подтверждение дохода (1 документ на выбор):Справка 2-НДФЛ
									</div>
								</div>
							</div>
						</div><!--.bank-card__head-->

						<div class="bank-card__params">
							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Первый взнос от 50%
								</div>
								<div class="bank-card__param__val">
									от <span class="js-bank-first">34 500 000</span> ⃏
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Срок
								</div>
								<div class="bank-card__param__val">
									до 30 лет
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Ежемесячный платёж
								</div>
								<div class="bank-card__param__val">
									<span class="js-bank-pay">2 500 000</span>
								</div>
							</div>
						</div><!--.bank-card__params-->
					</div><!--.bank-card-->

					<div class="bank-card" data-first="30" data-time="25" data-rate="8.89">
						<div class="bank-card__head">
							<img class="bank-card__logo" src="_asset/img/bank-ros.png" alt=""/>
							<div>
								<div class="bank-card__percent">
									от 8,89%
								</div>
								<div class="bank-card__info">
									<div class="bank-card__info__i">?</div>
									<div class="hint">
										Обязательные документы:Паспорт, Заверенная копия трудовой книжки или трудовой договор<br/><br/>
										Подтверждение дохода (1 документ на выбор):Справка 2-НДФЛ, Портал «Госуслуги»
									</div>
								</div>
							</div>
						</div><!--.bank-card__head-->

						<div class="bank-card__params">
							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Первый взнос от 30%
								</div>
								<div class="bank-card__param__val">
									от <span class="js-bank-first">34 500 000</span> ⃏
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Срок
								</div>
								<div class="bank-card__param__val">
									до 25 лет
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Ежемесячный платёж
								</div>
								<div class="bank-card__param__val">
									<span class="js-bank-pay">2 500 000</span>
								</div>
							</div>
						</div><!--.bank-card__params-->
					</div><!--.bank-card-->

					<div class="bank-card" data-first="25" data-time="30" data-rate="9.7">
						<div class="bank-card__head">
							<img class="bank-card__logo" src="_asset/img/bank-sber.svg" alt=""/>
							<div>
								<div class="bank-card__percent">
									от 9,7%
								</div>
								<div class="bank-card__info">
									<div class="bank-card__info__i">?</div>
									<div class="hint">
										Обязательные документы:Паспорт, Заверенная копия трудовой книжки или трудовой договор<br/><br/>
										Подтверждение дохода (1 документ на выбор):Справка по форме банка, Справка 2-НДФЛ, Справка в свободной форме
									</div>
								</div>
							</div>
						</div><!--.bank-card__head-->

						<div class="bank-card__params">
							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Первый взнос от 25%
								</div>
								<div class="bank-card__param__val">
									от <span class="js-bank-first">34 500 000</span> ⃏
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Срок
								</div>
								<div class="bank-card__param__val">
									до 30 лет
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Ежемесячный платёж
								</div>
								<div class="bank-card__param__val">
									<span class="js-bank-pay">2 500 000</span>
								</div>
							</div>
						</div><!--.bank-card__params-->
					</div><!--.bank-card-->

					<div class="bank-card" data-first="50" data-time="25" data-rate="9.79">
						<div class="bank-card__head">
							<img class="bank-card__logo" src="_asset/img/bank-tkb.svg" alt=""/>
							<div>
								<div class="bank-card__percent">
									от 9,79%
								</div>
								<div class="bank-card__info">
									<div class="bank-card__info__i">?</div>
									<div class="hint">
										Обязательные документы:Паспорт, Заверенная копия трудовой книжки или трудовой договор<br/><br/>
										Подтверждение дохода (1 документ на выбор):Справка 2-НДФЛ, Справка из ПФР
									</div>
								</div>
							</div>
						</div><!--.bank-card__head-->

						<div class="bank-card__params">
							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Первый взнос от 50%
								</div>
								<div class="bank-card__param__val">
									от <span class="js-bank-first">34 500 000</span> ⃏
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Срок
								</div>
								<div class="bank-card__param__val">
									до 25 лет
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Ежемесячный платёж
								</div>
								<div class="bank-card__param__val">
									<span class="js-bank-pay">2 500 000</span>
								</div>
							</div>
						</div><!--.bank-card__params-->
					</div><!--.bank-card-->

					<div class="bank-card" data-first="50" data-time="25" data-rate="9.79">
						<div class="bank-card__head">
							<img class="bank-card__logo" src="_asset/img/bank-invest.png" alt=""/>
							<div>
								<div class="bank-card__percent">
									от 9,79%
								</div>
								<div class="bank-card__info">
									<div class="bank-card__info__i">?</div>
									<div class="hint">
										Обязательные документы:Паспорт, Заверенная копия трудовой книжки или трудовой договор<br/><br/>
										Подтверждение дохода (1 документ на выбор):Справка 2-НДФЛ
									</div>
								</div>
							</div>
						</div><!--.bank-card__head-->

						<div class="bank-card__params">
							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Первый взнос от 50%
								</div>
								<div class="bank-card__param__val">
									от <span class="js-bank-first">34 500 000</span> ⃏
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Срок
								</div>
								<div class="bank-card__param__val">
									до 25 лет
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Ежемесячный платёж
								</div>
								<div class="bank-card__param__val">
									<span class="js-bank-pay">2 500 000</span>
								</div>
							</div>
						</div><!--.bank-card__params-->
					</div><!--.bank-card-->

					<div class="bank-card" data-first="10" data-time="30" data-rate="10">
						<div class="bank-card__head">
							<img class="bank-card__logo" src="_asset/img/bank-finservice.svg" alt=""/>
							<div>
								<div class="bank-card__percent">
									от 10%
								</div>
								<div class="bank-card__info">
									<div class="bank-card__info__i">?</div>
									<div class="hint">
										Обязательные документы:Паспорт, Заверенная копия трудовой книжки или трудовой договор, СНИЛС , Военный билет (для лиц моложе 27 лет)<br/><br/>
										Подтверждение дохода (1 документ на выбор):Справка 2-НДФЛ
									</div>
								</div>
							</div>
						</div><!--.bank-card__head-->

						<div class="bank-card__params">
							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Первый взнос от 10%
								</div>
								<div class="bank-card__param__val">
									от <span class="js-bank-first">34 500 000</span> ⃏
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Срок
								</div>
								<div class="bank-card__param__val">
									до 30 лет
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Ежемесячный платёж
								</div>
								<div class="bank-card__param__val">
									<span class="js-bank-pay">2 500 000</span>
								</div>
							</div>
						</div><!--.bank-card__params-->
					</div><!--.bank-card-->

					<div class="bank-card" data-first="20" data-time="10" data-rate="12.25">
						<div class="bank-card__head">
							<img class="bank-card__logo" src="_asset/img/bank-finservice.svg" alt=""/>
							<div>
								<div class="bank-card__percent">
									от 12.25%
								</div>
								<div class="bank-card__info">
									<div class="bank-card__info__i">?</div>
									<div class="hint">
										Обязательные документы:Паспорт, Военный билет (для лиц моложе 27 лет)<br/><br/>
										Подтверждение дохода (1 документ на выбор):Без справок о доходах
									</div>
								</div>
							</div>
						</div><!--.bank-card__head-->

						<div class="bank-card__params">
							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Первый взнос от 20%
								</div>
								<div class="bank-card__param__val">
									от <span class="js-bank-first">34 500 000</span> ⃏
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Срок
								</div>
								<div class="bank-card__param__val">
									до 10 лет
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Ежемесячный платёж
								</div>
								<div class="bank-card__param__val">
									<span class="js-bank-pay">2 500 000</span>
								</div>
							</div>
						</div><!--.bank-card__params-->
					</div><!--.bank-card-->

					<div class="bank-card" data-first="50" data-time="30" data-rate="13.5">
						<div class="bank-card__head">
							<img class="bank-card__logo" src="_asset/img/bank-finservice.svg" alt=""/>
							<div>
								<div class="bank-card__percent">
									от 13.5%
								</div>
								<div class="bank-card__info">
									<div class="bank-card__info__i">?</div>
									<div class="hint">
										Обязательные документы:Паспорт, Заверенная копия трудовой книжки или трудовой договор, СНИЛС , Военный билет (для лиц моложе 27 лет)<br/><br/>
										Подтверждение дохода (1 документ на выбор):Справка по форме банка, Справка 2-НДФЛ
									</div>
								</div>
							</div>
						</div><!--.bank-card__head-->

						<div class="bank-card__params">
							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Первый взнос от 50%
								</div>
								<div class="bank-card__param__val">
									от <span class="js-bank-first">34 500 000</span> ⃏
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Срок
								</div>
								<div class="bank-card__param__val">
									до 30 лет
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Ежемесячный платёж
								</div>
								<div class="bank-card__param__val">
									<span class="js-bank-pay">2 500 000</span>
								</div>
							</div>
						</div><!--.bank-card__params-->
					</div><!--.bank-card-->

					<div class="bank-card" data-first="20" data-time="25" data-rate="9.9">
						<div class="bank-card__head">
							<img class="bank-card__logo" src="_asset/img/bank-bars.svg" alt=""/>
							<div>
								<div class="bank-card__percent">
									от 9,9%
								</div>
								<div class="bank-card__info">
									<div class="bank-card__info__i">?</div>
									<div class="hint">
										Обязательные документы:Паспорт, Военный билет (для лиц моложе 27 лет)<br/><br/>
										Подтверждение дохода (1 документ на выбор):Справка в свободной форме, Справка по форме банка, Справка 2-НДФЛ, Выписка по счету, Портал «Госуслуги»
									</div>
								</div>
							</div>
						</div><!--.bank-card__head-->

						<div class="bank-card__params">
							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Первый взнос от 20%
								</div>
								<div class="bank-card__param__val">
									от <span class="js-bank-first">34 500 000</span> ⃏
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Срок
								</div>
								<div class="bank-card__param__val">
									до 25 лет
								</div>
							</div>

							<div class="bank-card__param">
								<div class="bank-card__param__lbl">
									Ежемесячный платёж
								</div>
								<div class="bank-card__param__val">
									<span class="js-bank-pay">2 500 000</span>
								</div>
							</div>
						</div><!--.bank-card__params-->
					</div><!--.bank-card-->
				</div><!--.bank-cards-->
			</div><!--.hypothec__right-->

			@@if (flag === true) {
				<div class="hypothec__flag">
					<img src="_asset/img/flag-kalinka-sm.svg" alt=""/>
					<div class="hint">
						Kalinka Realty является лидером на рынке премиальной недвижимости Москвы и России.
						В режиме 24/7 компания решает задачи клиентов по покупке, продаже, инвестированию, управлению всеми видами недвижимости, оказывает юридическую поддержку в заключении сделок
					</div>
				</div>
			}
		</div><!--.hypothec-->
	</div><!--.container-->
</section><!--.scr-hypothec-->