<section class="scr-brok" id="section-brokers">
	<div class="container">
		<div class="sct-title">
			Выберите специалиста <span class="color-grey">по посёлкам Жуковки и<br class="for-desktop"/>
					он свяжется с вами в самое ближайшее время</span>
		</div>

		<div class="brokers">
			<div class="broker">
				<div class="broker__photo js-bg-cover">
					<img class="js-bg-cover__img" src="_asset/img/broker-michael.jpg" alt=""/>
				</div>
				<div class="broker__cont">
					<div>
						<div class="broker__name">
							Михаил Долгов
						</div>
						<div class="broker__status">
							Руководитель отдела
							загородной недвижимости
						</div>
						<div class="broker__about">
							<p><b>Стаж в компании:</b> 1 год</p>
							<p><b>Закрытых сделок:</b> 85</p>
							<p><b>Опыт:</b> На рынке загородной недвижимости 7 лет. Всегда был действующим брокером — консультантом загородной недвижимости.</p>
						</div>
					</div>
					<button type="button" class="btn btn_sm btn_blue js-modal" data-target="#modal-order">
						<span class="btn__in">Выбрать</span>
						<span class="btn__hover">Выбрать</span>
					</button>
				</div>
			</div><!--.broker-->

			<div class="broker">
				<div class="broker__photo js-bg-cover">
					<img class="js-bg-cover__img" src="_asset/img/broker-natali.jpg" alt=""/>
				</div>
				<div class="broker__cont">
					<div>
						<div class="broker__name">
							Наталья Нечаева
						</div>
						<div class="broker__status">
							Ведущий консультант
							по загородной недвижимости
						</div>
						<div class="broker__about">
							<p><b>Стаж в компании:</b> 1 год</p>
							<p><b>Закрытых сделок:</b> 45</p>
							<p><b>Опыт:</b> Работаю на рынке элитной загородной недвижимости более 9 лет.</p>
						</div>
					</div>
					<button type="button" class="btn btn_sm btn_blue js-modal" data-target="#modal-order">
						<span class="btn__in">Выбрать</span>
						<span class="btn__hover">Выбрать</span>
					</button>
				</div>
			</div><!--.broker-->

			<div class="broker">
				<div class="broker__photo js-bg-cover">
					<img class="js-bg-cover__img" src="_asset/img/broker-vladimir.jpg" alt=""/>
				</div>
				<div class="broker__cont">
					<div>
						<div class="broker__name">
							Владимир Шалыгин
						</div>
						<div class="broker__status">
							Ведущий консультант
							по загородной недвижимости
						</div>
						<div class="broker__about">
							<p><b>Стаж в компании:</b> 1 год</p>
							<p><b>Закрытых сделок:</b> 37</p>
							<p><b>Опыт:</b> 20 лет на рынке элитной загородной недвижимости.</p>
						</div>
					</div>
					<button type="button" class="btn btn_sm btn_blue js-modal" data-target="#modal-order">
						<span class="btn__in">Выбрать</span>
						<span class="btn__hover">Выбрать</span>
					</button>
				</div>
			</div><!--.broker-->

			<div class="broker">
				<div class="broker__photo js-bg-cover">
					<img class="js-bg-cover__img" src="_asset/img/broker-yula.jpg" alt=""/>
				</div>
				<div class="broker__cont">
					<div>
						<div class="broker__name">
							Юлия Соловьева
						</div>
						<div class="broker__status">
							Консультант по загородной
							недвижимости
						</div>
						<div class="broker__about">
							<p><b>Стаж в компании:</b> 1 год</p>
							<p><b>Закрытых сделок:</b> 4 сложные</p>
							<p><b>Опыт:</b> Закончила Фиансовую академию при Правительстве РФ по специальности "Финансы и кредит. Банковское дело".</p>
						</div>
					</div>
					<button type="button" class="btn btn_sm btn_blue js-modal" data-target="#modal-order">
						<span class="btn__in">Выбрать</span>
						<span class="btn__hover">Выбрать</span>
					</button>
				</div>
			</div><!--.broker-->

			<div class="broker">
				<div class="broker__photo js-bg-cover">
					<img class="js-bg-cover__img" src="_asset/img/broker-olesya.jpg" alt=""/>
				</div>
				<div class="broker__cont">
					<div>
						<div class="broker__name">
							Олеся Евсеева
						</div>
						<div class="broker__status">
							Ведущий консультант
							по загородной недвижимости
						</div>
						<div class="broker__about">
							<p><b>Стаж в компании:</b> 3 года</p>
							<p><b>Закрытых сделок:</b> 50 сложных</p>
							<p><b>Опыт:</b> В сфере недвижимости 4 года. Начинала работу со стажера по загородной недвижимости. Сегодня сопровождает сложные и высокобюджетные сделки с VIP клиентами.</p>
						</div>
					</div>
					<button type="button" class="btn btn_sm btn_blue js-modal" data-target="#modal-order">
						<span class="btn__in">Выбрать</span>
						<span class="btn__hover">Выбрать</span>
					</button>
				</div>
			</div><!--.broker-->

			<div class="propose-card">
				<div class="propose-card__txt">
					Вы так же можете ответить на <b>5 коротких вопросов</b> и мы сделаем вам индивидуальное предложение. С вами свяжется один из специалистов, по нашему мнению, больше подходящий в вашем запросе.
				</div>
				<div class="propose-card__btn">
					<img class="propose-card__people" src="_asset/img/p-hand-dog.svg" alt=""/>

					<button type="button" class="btn js-modal" data-target="#modal-quiz">
						<span class="btn__in">Подобрать предложение</span>
						<span class="btn__hover">Подобрать предложение</span>
					</button>
				</div>
			</div><!--.propose-card-->
		</div><!--.brokers-->
	</div><!--.container-->
</section><!--.scr-brok-->