<div class="feature">
	<div class="feature__caption">
		Ценовой диапазон
	</div>
	<div class="feature__val">
		от <span>31</span>&nbsp;млн до <span>134</span>&nbsp;млн&nbsp;⃏
	</div>
	<div class="typical-txt">
		Жильё на «Рублёвке» из года в год повышается в стоимости каждого предложения. <a class="link-border js-modal" data-target="#modal-quiz" href="#">Выбирайте</a> свой вариант сегодня — вы получаете лучшее предложение по лучшей цене и самых выгодных условиях.
	</div>
</div><!--.feature-->

<div class="feature">
	<div class="feature__caption">
		Жилая площадь
	</div>
	<div class="feature__val">
		от <span>120</span> до <span>237</span>&nbsp;м<sup>2</sup>
	</div>
	<div class="typical-txt">
		В представляемых вариантах очень большие роскошные жилые площади с готовой отделкой, выполненной в разных стилях. Наши брокеры легко подберут решение конректно под вас — просто <a class="link-border js-modal" data-target="#modal-order" href="#">оставьте заявку</a>.
	</div>
</div><!--.feature-->