<div class="feature">
	<div class="feature__caption">
		Ценовой диапазон
	</div>
	<div class="feature__val">
		от <span>60</span>&nbsp;млн до <span>1,4</span>&nbsp;млрд&nbsp;⃏
	</div>
	<div class="typical-txt">
		Жильё на «Рублёвке» из года в год повышается в стоимости каждого предложения. <a class="link-border js-modal" data-target="#modal-quiz" href="#">Выбирайте</a> свой вариант сегодня — вы получаете лучшее предложение по лучшей цене и самых выгодных условиях.
	</div>
</div><!--.feature-->

<div class="feature">
	<div class="feature__caption">
		Жилая площадь
	</div>
	<div class="feature__val">
		от <span>100</span> до <span>170</span>&nbsp;м<sup>2</sup>
	</div>
	<div class="typical-txt">
		В представляемых вариантах очень большие роскошные жилые площади с готовой отделкой, выполненной в разных стилях. Наши брокеры легко подберут решение конректно под вас — просто <a class="link-border js-modal" data-target="#modal-order" href="#">оставьте заявку</a>.
	</div>
</div><!--.feature-->

<div class="feature">
	<div class="feature__caption">
		Площадь участков
	</div>
	<div class="feature__val">
		от <span>20</span> до <span>100</span> соток
	</div>
	<div class="typical-txt">
		Участки продаются как отдельно, так и вместе с готовым домом. Можно иметь небольшой сад, а можно поместье размерами в гектар.
	</div>
</div><!--.feature-->