/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Estate About

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.est-about { padding: 15vh 0; position: relative; }

@media @mobile {
	.est-about { padding: 100px 0; }
}


/* ==========================================================================
   Box
   ========================================================================== */

.txt-box { border: solid 4px @color-border; padding: 8vh 4vw 10vh 10vw; margin: 0 9vw; position: relative;
	.typical-txt { font-size: 1.2rem; }
}
.txt-box__title { font-weight: 800; margin: 0 0 1em; font-size: 1.5rem; line-height: normal; }
.txt-box__people { height: 5.4rem; position: absolute; left: 5vw; top: 20vh; transform: translate(-50%,-50%); }


@media @desktop {
	.txt-box__people { opacity: 0; transform: translate(-50%,50%); transition: opacity .5s, transform .5s;
		&.animated { opacity: 1; transform: translate(-50%,-50%); }
	}
}

@media @mobile {
	.txt-box { padding: 30px; margin: 0; }
	.txt-box__people { left: 0; top: 0; transform: translate(-50%,-75%); }
}














































