/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Estate Cards Slider

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.est-cards { padding: 15vh 0; position: relative; text-align: center; }

@media @mobile {
	.est-cards { padding: 100px 0; }
}


/* ==========================================================================
   Bottom
   ========================================================================== */

.est-cards__bottom {
	.typical-txt { margin: 2em 0 1.5em; font-size: 1.2rem; }
}

@media @mobile {
	.est-cards__bottom { padding: 1px 0 0; }
}















































