/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Estate Main

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.est-main { position: relative; z-index: 5;
	.container { .flex(); .justify-content(stretch); min-height: 70.8vh; padding-top: 4rem;
		&:before, &:after { display: none; }
	}
}

@media @mobile {
	.est-main {
		.container { display: block; min-height: auto; }
		.label-moscow { display: none; }
	}
}


/* ==========================================================================
   Content Column
   ========================================================================== */

.est-main__cont { width: 50%; padding: 6.25vh 1vw 18vh 0; position: relative;
	.sct-title { margin-bottom: .5em; }
}

@media @mobile {
	.est-main__cont { width: auto; padding: 30px 0 0; }
}


/* ==========================================================================
   Tags
   ========================================================================== */

.tag { white-space: nowrap; display: inline-block; line-height: 2rem; background: @color-grey; font-size: 1.2rem; padding: 0 .5em; }

.tags { .clearfix(); margin: 0 0 5.2vh;
	.tag { float: left; margin: 0 .5rem .5rem 0; }
}


/* ==========================================================================
   Btns
   ========================================================================== */

.est-main__btns { position: relative; .flex(); .align-items(center);
	.label-moscow { margin-left: 2.6vw; }
	.play-video { margin-left: 1.3vw; }
}


@media @mobile {
	.est-main__btns { display: block;
		.btn { width: 100%; }
		.play-video { margin-top: 30px; }
	}
}


/* ==========================================================================
   Logo
   ========================================================================== */

.est-main__logo { display: block; position: absolute; left: 0; top: 93.3%; transform: translateY(-50%); max-width: 14vw; max-height: 17.7vh; }

@media @mobile {
	.est-main__logo { display: none; position: static; transform: none; max-width: none; max-height: none; width: 300px; }
}


/* ==========================================================================
   Picture
   ========================================================================== */

.est-main__pic { position: relative; width: 50%;
	.label-moscow { position: absolute; left: 0; top: 12%; }
}
.est-main__photo { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.est-main__premium { position: absolute; top: 93.3%; left: 87%; transform: translate(-50%,-50%); width: 6.7vw; }
.est-main__compass { display: block; position: absolute; right: 0; top: 3.5vh; width: 27.8%; }
.est-main__scheme { display: block; position: absolute; left: 0; top: 0; max-width: 100%; max-height: 100%; pointer-events: none; }

.est-main__pic.zhukovka {
	.est-main__scheme { left: -9%; top: 17%; max-width: 107%; max-height: 98%; }
}

.est-main__pic.zhukovka-2 {
	.est-main__scheme { left: auto; right: 0; top: 20%; max-width: 116%/* 136%*/; max-height: 85%; }
}

.est-main__pic.zhukovka-3 {
	.est-main__scheme { left: auto; right: 0; top: 20%; max-width: 115%/* 119%*/; max-height: 101%; }
}

.est-main__pic.zhukovka-4 {
	.est-main__scheme { left: auto; right: 0; top: 38%; max-width: 114%/* 117%*/; max-height: 81%; }
}

.est-main__pic.zhukovka-21 {
	.est-main__scheme { left: auto; right: 0; top: 8%; max-width: 77%; max-height: 120%; }
}

.est-main__pic.dsk {
	.est-main__scheme { left: auto; right: 0; top: 42%; max-width: 114%/*: 129%*/; max-height: 55%; }
}

.est-main__pic.dacha {
	.est-main__scheme { left: auto; right: 0; top: 38%; max-width: 116%/* 124%*/; max-height: 73%; }
}

.est-main__pic.field {
	.est-main__scheme { left: 6%; top: 6%; max-width: 76%; max-height: 100%; }
}

.est-main__pic.konus {
	.est-main__scheme { left: auto; right: 0; top: 30%; max-width: 115%/* 133%*/; max-height: 72%; }
}

.est-main__pic.landscape {
	.est-main__scheme { left: 50%; transform: translateX(-50%); top: 3%; max-width: 72%; max-height: 128%; }
}

.est-main__pic.selo {
	.est-main__scheme { left: auto; right: 0; top: 43%; max-width: 133%; max-height: 62%; }
}

.est-main__pic.parkville {
	.est-main__scheme { left: 50%; transform: translateX(-50%); top: 13%; max-width: 69%; max-height: 110%; }
}

.est-main__pic.academy {
	.est-main__scheme { left: auto; right: 0; top: 16%; max-width: 113%/* 127%*/; max-height: 117%; }
}


@media @mobile {
	.est-main__pic { width: auto; margin: 30px -30px 0; padding: 30px 30px 0; }
	.est-main__photo { position: relative; height: 500px; width: auto; margin: -30px -30px 0; }
	.est-main__compass { top: 0; right: 30px; }
	.est-main__premium { width: 100px; left: auto; top: auto; bottom: -10px; right: 30px; transform: none; }
	.est-main__scheme { position: static; width: 100%; max-height: none !important; max-width: none !important; margin: 0 0 30px; transform: none !important; }
}













































