/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Estate Slider

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.est-slider { height: 29.2vh; position: relative;
	.slick-arrow { left: 28vw; bottom: 100%; margin-bottom: 4.7vh; transform: translateY(50%);
		&.slick-next { transform: translate(150%,50%); background-image: url('@{path-images}/arr-right.svg');
			span { left: 100%; bottom: 50%; transform: translateY(50%); margin: 0 0 0 .5em; }
		}
	}
}
.est-slider__slide { }
.est-slider__card { position: relative; width: 25vw; height: 29.2vh; }
.est-slider__link { display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0;
	&.video { background: fade(#000, 50%) url('@{path-images}/play.svg') no-repeat 50% 50%; background-size: 3rem auto; }
}


@media @mobile {
	.est-slider,
	.est-slider__card { height: 500px; }
	.est-slider__card { width: 600px; }

	.est-slider {
		.slick-arrow { left: 30px; top: auto; transform: none; margin-bottom: 20px;
			&.slick-next { transform: translateX(125%); }
		}
	}
}














































