/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   404 page

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.scr-404 { position: relative; min-height: 100vh; .flex(); .align-items(center); .justify-content(center); .flex-direction(column); padding: 5vh 0;
	.scr-main__river { opacity: .4; }
}

@media @mobile {
	.scr-404 { min-height: auto; display: block; padding: 50px 0;
		.scr-main__river { display: none; }
	}
}


/* ==========================================================================
   Content
   ========================================================================== */

.scr-404__logo { position: relative; max-width: 14vw; max-height: 11vh; margin: 0 0 .5rem; }
.scr-404__404 { position: relative; max-height: 57vh; max-width: 63vw; }


@media @mobile {
	.scr-404__logo,
	.scr-404__404 { max-width: none; max-height: none; display: block; margin: 0 auto; }
	.scr-404__logo { width: 50%; }
	.scr-404__404 { width: 90%; margin-top: 30px; margin-bottom: 30px; }
}


/* ==========================================================================
   Bottom
   ========================================================================== */

.scr-404__bottom { position: relative; margin: 3vh 0 0; .flex(); .align-items(center);
	.typical-txt { margin: 0 5vw 0 0; }
}

@media @mobile {
	.scr-404__bottom { display: block; text-align: center; padding: 0 30px;
		.typical-txt { margin: 0 0 30px;  }
	}
}














































