<footer class="site-footer">
	<div class="container">
		<img class="site-footer__bg" src="_asset/img/site-footer.jpg" alt=""/>

		<img class="site-footer__flag kalinka" src="_asset/img/flag-kalinka.svg" alt=""/>
		<img class="site-footer__flag awards" src="_asset/img/flag-awards.svg" alt=""/>

		<div class="site-footer__logo">
			<img class="site-footer__logo__bg" src="_asset/img/site-footer__logo.svg" alt=""/>
			<div class="site-footer__logo__in">
				Маркетплейс
				<img src="_asset/img/zhukovka-dark.svg" alt=""/>
				2020
			</div>
		</div><!--.site-footer__logo-->

		<div class="site-footer__block">
			<div class="site-footer__copy">
				<p>
					Копирайт сделан<br class="for-desktop"/>
					специально для<br class="for-desktop"/>
					Kalinka-Realty Group,<br class="for-desktop"/>
					<span>ООО «КАЛИНКА-ПРЕМИУМ»</span>
				</p>
				<p>
					© LOOOVE Digital<br class="for-desktop"/>
					Agency, 2020
				</p>
			</div><!--.site-footer__copy-->

			<div>
				<div class="site-footer__callback">
					<button type="button" class="btn btn_blue js-modal" data-target="#modal-callback">
						<span class="btn__in">Позвонить мне</span>
						<span class="btn__hover">Позвонить мне</span>
					</button>

					<div class="site-contacts">
						<a class="site-contacts__num" href="tel:+74950219945">+7 (495) 021-99-45</a><br/>
						<a class="site-contacts__link link-border" href="mailto:kalinka@kalinka-realty.ru">kalinka@kalinka-realty.ru</a>
					</div>
				</div><!--.site-footer__callback-->

				<div class="site-footer__copy-sm">
					Вся информация на сайте носит справочный характер и не является<br class="for-desktop"/>
					публичной офертой, определяемой положениями статьи 437 ГК РФ.<br class="for-desktop"/>
					Любое использование материалов с сайта zhukovka.moscow, в том<br class="for-desktop"/>
					числе изображения и видео, не допускается без письменного<br class="for-desktop"/>
					разрешения ООО «КАЛИНКА-ПРЕМИУМ»
				</div>
			</div>
		</div><!--.site-footer__block-->

		<div class="site-footer__block">
			<div class="site-footer__menu-left">
				<ul class="site-footer__menu">
					<li>
						@@if(page === 'index') {
						<a class="js-to" href="#section-main">
						}
						@@if(page !== 'index') {
						<a href="/">
						}
							Главный
						</a>
					</li>
					<li>
						@@if(page === 'index') {
						<a class="js-to" href="#section-map">
						}
						@@if(page !== 'index') {
						<a href="/#section-map">
						}
							Карта Жуковки
						</a>
					</li>
					<li>
						@@if(page === 'index') {
						<a class="js-to" href="#section-catalog">
						}
						@@if(page !== 'index') {
						<a href="/#section-catalog">
						}
							Выбор посёлков
						</a>
					</li>
					<li>
						@@if(page === 'index') {
						<a class="js-to" href="#section-hot">
						}
						@@if(page !== 'index') {
						<a href="/#section-hot">
						}
							Топ-5 предложений
						</a>
					</li>
					<li>
						@@if(page === 'index') {
						<a class="js-to" href="#section-features">
						}
						@@if(page !== 'index') {
						<a href="/#section-features">
						}
							Жуковка в цифрах
						</a>
					</li>
				</ul>
				<ul class="site-footer__menu">
					<li>
						@@if(page === 'index') {
						<a class="js-to" href="#section-infra">
						}
						@@if(page !== 'index') {
						<a href="/#section-infra">
						}
							Инфраструктура
						</a>
					</li>
					<li>
						@@if(page === 'index') {
						<a class="js-to" href="#section-cards">
						}
						@@if(page !== 'index') {
						<a href="/#section-cards">
						}
							Сервисы и выгоды
						</a>
					</li>
					<li>
						@@if(page === 'index') {
						<a class="js-to" href="#section-expert">
						}
						@@if(page !== 'index') {
						<a href="/#section-expert">
						}
							Экспертность Kalinka
						</a>
					</li>
					<li>
						@@if(page === 'index') {
						<a class="js-to" href="#section-hypothec">
						}
						@@if(page !== 'index') {
						<a href="/#section-hypothec">
						}
							Калькулятор Ипотеки
						</a>
					</li>
					<li>
						@@if(page === 'index') {
						<a class="js-to" href="#section-brokers">
						}
						@@if(page !== 'index') {
						<a href="/#section-brokers">
						}
							Специалисты
						</a>
					</li>
				</ul>
			</div><!--.site-footer__menu-left-->
			<div class="site-footer__menu-right">
				<ul class="site-footer__menu">
					<li><a href="estate-zhukovka.html" @@if (page === 'zhukovka') { class="active" }>Жуковка</a></li>
					<li><a href="estate-zhukovka-1.html" @@if (page === 'zhukovka-1') { class="active" }>Жуковка №1</a></li>
					<li><a href="estate-zhukovka-2.html" @@if (page === 'zhukovka-2') { class="active" }>Жуковка-2</a></li>
					<li><a href="estate-zhukovka-3.html" @@if (page === 'zhukovka-3') { class="active" }>Жуковка-3</a></li>
					<li><a href="estate-zhukovka-4.html" @@if (page === 'zhukovka-4') { class="active" }>Жуковка-4</a></li>
				</ul>
				<ul class="site-footer__menu">
					<li><a href="estate-zhukovka-21.html" @@if (page === 'zhukovka-21') { class="active" }>Жуковка 21</a></li>
					<li><a href="estate-academy.html" @@if (page === 'academy') { class="active" }>Академическая</a></li>
					<li><a href="estate-shale.html" @@if (page === 'shale') { class="active" }>Жуковка Шале</a></li>
					<li><a href="estate-landscape.html" @@if (page === 'landscape') { class="active" }>Ландшафт</a></li>
					<li><a href="estate-parkville.html" @@if (page === 'parkville') { class="active" }>ParkVille</a></li>
				</ul>
				<ul class="site-footer__menu">
					<li><a href="estate-field.html" @@if (page === 'field') { class="active" }>Ильинское поле</a></li>
					<li><a href="estate-selo.html" @@if (page === 'selo') { class="active" }>Царское село</a></li>
					<li><a href="estate-dacha.html" @@if (page === 'dacha') { class="active" }>Ильинские дачи</a></li>
					<li><a href="estate-konus.html" @@if (page === 'konus') { class="active" }>Конус</a></li>
					<li><a href="estate-dsk.html" @@if (page === 'dsk') { class="active" }>ДСК Лес Жуковка</a></li>
				</ul>
			</div><!--.site-footer__menu-right-->
		</div><!--.site-footer__block-->

		<div class="site-footer__block">
			<ul class="site-footer__agree">
				<li><a href="agreement.html">Cоглашение об обработке<br class="for-desktop"/>персональных данных</a></li>
				<li><a href="policy.html">Политика конфиденциальности</a></li>
			</ul>

			<div class="site-footer__dev">
				<a class="site-footer__dev__looove" href="https://looove.ru/" target="_blank">
					<img class="site-footer__dev__logo" src="_asset/img/looove.svg" alt=""/>
					<span class="site-footer__dev__txt">сделано<br/>с <span>Looove</span></span>
				</a>
				<img class="site-footer__dev__people" src="_asset/img/p-love.svg" alt=""/>
			</div><!--.site-footer__dev-->
		</div><!--.site-footer__block-->
	</div><!--.container-->
</footer><!--.site-footer-->