<header class="site-header">
	<div class="container">
		<a class="site-header__logo" href="/">
			<img src="_asset/img/zhukovka-white.svg" alt=""/>
			<div class="beetle">
				<img src="_asset/img/beetle/Beetle_00001-min.png" alt=""/>
			</div><!--.beetle-->
		</a>

		<ul class="site-header__menu">
			@@if (title !== 'Жуковка') {
				<li><a class="site-header__title js-to" href="#section-main">@@title</a></li>
			}
			<li><a class="js-to" href="#section-about">О посёлке</a></li>
			<li><a class="js-to" href="#section-benefits">Преимущества</a></li>
			<li><a class="js-to" href="#section-hot">Стоимость</a></li>
			<li><a class="js-to" href="#section-hypothec">Ипотека</a></li>
			<li><a class="js-to" href="#section-brokers">Брокеры</a></li>
		</ul>

		<div class="site-contacts">
			<a class="site-contacts__num" href="tel:+74950219945">+7 (495) 021-99-45</a><br/>
			<a class="site-contacts__link link-border" href="mailto:kalinka@kalinka-realty.ru">kalinka@kalinka-realty.ru</a>
		</div>

		<button type="button" class="burger">
			<span></span>
			<span></span>
			<span></span>
		</button>
	</div><!--.container-->
</header><!--.site-header-->