<div class="modal" id="modal-quiz">
	<form class="form-valid modal__box">

		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="modal-card start">
						<img class="modal-card__bg" src="_asset/img/zhukovka-dark.svg" alt=""/>
						<img class="modal-card__bg-start" src="_asset/img/quiz-start.png" alt=""/>

						<div class="sct-title">
							Ответьте <span class="color-blue">на 5 вопросов</span> и<br class="for-desktop"/>
							получите подборку объектов<br class="for-desktop"/>
							по вашим критериям
						</div>

						<div class="modal-card__start-txt">
							Ответы на вопросы займут не более<br class="for-desktop"/>
							<b class="color-red">60&nbsp;секунд</b>. Мы вышлем вам подходящие<br class="for-desktop"/>
							объекты на электронную почту.
						</div>

						<div class="modal-card__btn">
							<button type="button" class="btn js-next-step">
								<span class="btn__in">Начать подбор</span>
								<span class="btn__hover">Начать подбор</span>
							</button>

							<img class="modal-card__stopwatch" src="_asset/img/stopwatch.png" alt=""/>
						</div><!--.modal-card__btn-->
					</div><!--.modal--card-->
				</div><!--.swiper-slide-->

				<div class="swiper-slide">
					<div class="modal-card">
						<img class="modal-card__bg" src="_asset/img/zhukovka-dark.svg" alt=""/>

						<div class="modal-card__step">
							1<span class="color-grey">/5</span>
						</div>

						<div class="sct-title">
							Какой тип объекта вас интересует?
						</div>

						<div class="modal-card__checks">
							<div>
								<div class="form-checkbox">
									<input type="checkbox" name="objType" id="check-type-1" value="Дом"/>
									<label for="check-type-1">Дом</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="objType" id="check-type-2" value="Особняк"/>
									<label for="check-type-2">Особняк</label>
								</div>
							</div>

							<div>
								<div class="form-checkbox">
									<input type="checkbox" name="objType" id="check-type-3" value="Участок"/>
									<label for="check-type-3">Участок</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="objType" id="check-type-4" value="Квартира"/>
									<label for="check-type-4">Квартира</label>
								</div>
							</div>

							<div>
								<div class="form-checkbox">
									<input type="checkbox" name="objType" id="check-type-5" value="Таунхаус"/>
									<label for="check-type-5">Таунхаус</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="objType" id="check-type-6" value="Рассмотрю всё"/>
									<label for="check-type-6">Рассмотрю всё</label>
								</div>
							</div>
						</div><!--.modal-card__checks-->

						<button type="button" class="btn js-next-step">
							<span class="btn__in">Следующий вопрос</span>
							<span class="btn__hover">Следующий вопрос</span>
						</button>
					</div><!--.modal--card-->
				</div><!--.swiper-slide-->

				<div class="swiper-slide">
					<div class="modal-card">
						<img class="modal-card__bg" src="_asset/img/zhukovka-dark.svg" alt=""/>

						<div class="modal-card__step">
							2<span class="color-grey">/5</span>
						</div>

						<div class="sct-title">
							В каком посёлке Жуковки
							вы хотели бы приобрести недвижимость?
						</div>

						<div class="modal-card__checks">
							<div>
								<div class="form-checkbox">
									<input type="checkbox" name="village" id="check-village-1" value="Жуковка"/>
									<label for="check-village-1">Жуковка</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="village" id="check-village-2" value="Жуковка №1"/>
									<label for="check-village-2">Жуковка №1</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="village" id="check-village-3" value="Жуковка-2"/>
									<label for="check-village-3">Жуковка-2</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="village" id="check-village-4" value="Жуковка-3"/>
									<label for="check-village-4">Жуковка-3</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="village" id="check-village-5" value="Жуковка-4"/>
									<label for="check-village-5">Жуковка-4</label>
								</div>
							</div>

							<div>
								<div class="form-checkbox">
									<input type="checkbox" name="village" id="check-village-6" value="Жуковка 21"/>
									<label for="check-village-6">Жуковка 21</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="village" id="check-village-7" value="Жуковка Шале"/>
									<label for="check-village-7">Жуковка Шале</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="village" id="check-village-8" value="Академеческая"/>
									<label for="check-village-8">Академеческая</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="village" id="check-village-9" value="Ландшафт"/>
									<label for="check-village-9">Ландшафт</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="village" id="check-village-10" value="Parkville"/>
									<label for="check-village-10">Parkville</label>
								</div>
							</div>

							<div>
								<div class="form-checkbox">
									<input type="checkbox" name="village" id="check-village-11" value="Ильинское поле"/>
									<label for="check-village-11">Ильинское поле</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="village" id="check-village-12" value="Царское село"/>
									<label for="check-village-12">Царское село</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="village" id="check-village-13" value="Ильинские дачи"/>
									<label for="check-village-13">Ильинские дачи</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="village" id="check-village-14" value="Конус"/>
									<label for="check-village-14">Конус</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="village" id="check-village-15" value="ДСК Лес Жуковка"/>
									<label for="check-village-15">ДСК Лес Жуковка</label>
								</div>
							</div>
						</div><!--.modal-card__checks-->

						<button type="button" class="btn js-next-step">
							<span class="btn__in">Следующий вопрос</span>
							<span class="btn__hover">Следующий вопрос</span>
						</button>
					</div><!--.modal--card-->
				</div><!--.swiper-slide-->

				<div class="swiper-slide">
					<div class="modal-card">
						<img class="modal-card__bg" src="_asset/img/zhukovka-dark.svg" alt=""/>

						<div class="modal-card__step">
							3<span class="color-grey">/5</span>
						</div>

						<div class="sct-title">
							Какие особенности должен учитывать объект?
						</div>

						<div class="modal-card__checks">
							<div>
								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-1" value="Рядом лес"/>
									<label for="check-feature-1">Рядом лес</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-2" value="Вид на реку"/>
									<label for="check-feature-2">Вид на реку</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-3" value="Бассейн"/>
									<label for="check-feature-3">Бассейн</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-4" value="С отделкой"/>
									<label for="check-feature-4">С отделкой</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-5" value="С камином"/>
									<label for="check-feature-5">С камином</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-6" value="С кинозалом"/>
									<label for="check-feature-6">С кинозалом</label>
								</div>
							</div>

							<div>
								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-7" value="Большой гараж"/>
									<label for="check-feature-7">Большой гараж</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-8" value="Терасса / сад"/>
									<label for="check-feature-8">Терасса / сад</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-9" value="Свой SPA"/>
									<label for="check-feature-9">Свой SPA</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-10" value="Джакузи"/>
									<label for="check-feature-10">Джакузи</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-11" value="Банный комплекс"/>
									<label for="check-feature-11">Банный комплекс</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-12" value="Сауна"/>
									<label for="check-feature-12">Сауна</label>
								</div>
							</div>

							<div>
								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-13" value="2- 3- уровневый"/>
									<label for="check-feature-13">2- 3- уровневый</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-14" value="Бильярдная"/>
									<label for="check-feature-14">Бильярдная</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-15" value="Винная комната"/>
									<label for="check-feature-15">Винная комната</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-16" value="С библиотекой"/>
									<label for="check-feature-16">С библиотекой</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-17" value="С мебелью"/>
									<label for="check-feature-17">С мебелью</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="feature" id="check-feature-18" value="Персональный запрос"/>
									<label for="check-feature-18">Персональный запрос</label>
								</div>
							</div>
						</div><!--.modal-card__checks-->

						<button type="button" class="btn js-next-step">
							<span class="btn__in">Следующий вопрос</span>
							<span class="btn__hover">Следующий вопрос</span>
						</button>
					</div><!--.modal--card-->
				</div><!--.swiper-slide-->

				<div class="swiper-slide">
					<div class="modal-card">
						<img class="modal-card__bg" src="_asset/img/zhukovka-dark.svg" alt=""/>

						<div class="modal-card__step">
							4<span class="color-grey">/5</span>
						</div>

						<div class="sct-title">
							Какую сумму вы планируете инвестировать в недвижимость Жуковки?
						</div>

						<div class="modal-card__checks">
							<div>
								<div class="form-checkbox">
									<input type="checkbox" name="cost" id="check-cost-1" value="50-150 млн. ⃏" data-count="17"/>
									<label for="check-cost-1">50-150 млн. ⃏</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="cost" id="check-cost-3" value="150-300 млн. ⃏" data-count="29"/>
									<label for="check-cost-3">150-300 млн. ⃏</label>
								</div>
							</div>

							<div>
								<div class="form-checkbox">
									<input type="checkbox" name="cost" id="check-cost-5" value="300-500 млн. ⃏" data-count="22"/>
									<label for="check-cost-5">300-500 млн. ⃏</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="cost" id="check-cost-2" value="500-1000 млн. ⃏" data-count="29"/>
									<label for="check-cost-2">500-1000 млн. ⃏</label>
								</div>
							</div>

							<div>
								<div class="form-checkbox">
									<input type="checkbox" name="cost" id="check-cost-4" value="1-2 млрд. ⃏" data-count="8"/>
									<label for="check-cost-4">1-2 млрд. ⃏</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="cost" id="check-cost-6" value="Не имеет значения" data-count="5"/>
									<label for="check-cost-6">Не имеет значения</label>
								</div>
							</div>
						</div><!--.modal-card__checks-->

						<button type="button" class="btn js-next-step">
							<span class="btn__in">Следующий вопрос</span>
							<span class="btn__hover">Следующий вопрос</span>
						</button>
					</div><!--.modal--card-->
				</div><!--.swiper-slide-->

				<div class="swiper-slide">
					<div class="modal-card">
						<img class="modal-card__bg" src="_asset/img/zhukovka-dark.svg" alt=""/>

						<div class="modal-card__step">
							5<span class="color-grey">/5</span>
						</div>

						<div class="sct-title">
							Укажите, когда вы планируете приобрести недвижимость?
						</div>

						<div class="modal-card__checks short">
							<div>
								<div class="form-checkbox">
									<input type="checkbox" name="where" id="check-where-1" value="Нужно срочно"/>
									<label for="check-where-1">Нужно срочно</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="where" id="check-where-2" value="3-6 месяцев"/>
									<label for="check-where-2">3-6 месяцев</label>
								</div>
							</div>

							<div>
								<div class="form-checkbox">
									<input type="checkbox" name="where" id="check-where-3" value="6 мес.-1 год"/>
									<label for="check-where-3">6 мес.-1 год</label>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="where" id="check-where-4" value="1 год +"/>
									<label for="check-where-4">1 год +</label>
								</div>
							</div>
						</div><!--.modal-card__checks-->

						<button type="button" class="btn js-next-step">
							<span class="btn__in">Следующий вопрос</span>
							<span class="btn__hover">Следующий вопрос</span>
						</button>
					</div><!--.modal--card-->
				</div><!--.swiper-slide-->

				<div class="swiper-slide">
					<div class="modal-card">
						<img class="modal-card__bg" src="_asset/img/zhukovka-dark.svg" alt=""/>

						<div class="sct-title">
							По вашим параметрам<br class="for-desktop"/>
							найдено <span class="color-blue js-quiz-count">15</span> объектов
						</div>

						<div class="modal-card__sub-title">
							Заполните поля ниже для получения актуальных<br class="for-desktop"/>
							объектов в течение 15 минут
						</div>

						<div class="modal-card__form">
							<div class="form-group">
								<label class="form-label">
									Введите Имя
								</label>
								<input type="text"
								       class="form-field"
								       placeholder="Иванов Иван"
								       name="name"
								       data-rule-required="true"
								       data-msg-required="Укажите имя"/>
							</div><!--.form-group-->

							<div class="form-group">
								<label class="form-label">
									Введите E-mail
								</label>
								<input type="email"
								       class="form-field"
								       placeholder="ivanov@ivan.ru"
								       name="mail"
								       data-rule-required="true"
								       data-msg-required="Укажите электронный адрес"
								       data-rule-email="true"
								       data-msg-email="Проверьте правильность адреса"/>
							</div><!--.form-group-->

							<div class="form-group">
								<label class="form-label">
									Введите телефон
								</label>
								<input type="tel"
								       class="form-field"
								       placeholder="+7 987 654 3210"
								       name="phone"
								       data-rule-required="true"
								       data-msg-required="Укажите номер телефона"
								       data-rule-minlength="16"
								       data-msg-minlength="Проверьте правильность ввода номера"/>
							</div><!--.form-group-->

							<div class="form-group">
								<label class="form-label">&nbsp;</label>
								<div class="form-checkbox sm">
									<input type="checkbox" name="agree[]" id="check-agree" checked
									       data-rule-required="true"
									       data-msg-required="Подтвердите согласие"/>
									<label for="check-agree">
										Я принимаю условия<br class="for-desktop"/>
										<a class="link-border" href="policy.html">политики конфиденциальности</a><br class="for-desktop"/>
										и соглашения пользования
									</label>
								</div>
							</div><!--.form-group-->
						</div><!--.modal-card__form-->

						<button type="submit" class="btn">
							<span class="btn__in">получить результаты</span>
							<span class="btn__hover">получить результаты</span>
						</button>
					</div><!--.modal--card-->
				</div><!--.swiper-slide-->
			</div><!--.swiper-wrapper-->
		</div><!--.swiper-container-->

		<button type="button" class="btn-close js-modal-close"></button>
	</form><!--.modal__box-->
</div><!--.modal-->