<div class="modal" id="modal-callback">
	<form class="form-valid modal__box">

		<div class="modal-card">
			<img class="modal-card__bg" src="_asset/img/zhukovka-dark.svg" alt=""/>

			<div class="sct-title">
				Перезвоните мне
			</div>

			<div class="modal-card__sub-title">
				Заполните поля ниже, и мы свяжемся с Вами в течение 15 минут
			</div>

			<div class="modal-card__form">
				<div class="form-group">
					<label class="form-label">
						Введите Имя
					</label>
					<input type="text"
					       class="form-field"
					       placeholder="Иванов Иван"
					       name="name"
					       data-rule-required="true"
					       data-msg-required="Укажите имя"/>
				</div><!--.form-group-->

				<div class="form-group">
					<label class="form-label">
						Введите E-mail
					</label>
					<input type="email"
					       class="form-field"
					       placeholder="ivanov@ivan.ru"
					       name="mail"
					       data-rule-required="true"
					       data-msg-required="Укажите электронный адрес"
					       data-rule-email="true"
					       data-msg-email="Проверьте правильность адреса"/>
				</div><!--.form-group-->

				<div class="form-group">
					<label class="form-label">
						Введите телефон
					</label>
					<input type="tel"
					       class="form-field"
					       placeholder="+7 987 654 3210"
					       name="phone"
					       data-rule-required="true"
					       data-msg-required="Укажите номер телефона"
					       data-rule-minlength="16"
					       data-msg-minlength="Проверьте правильность ввода номера"/>
				</div><!--.form-group-->

				<div class="form-group">
					<label class="form-label">&nbsp;</label>
					<div class="form-checkbox sm">
						<input type="checkbox" name="agree[]" id="check-agree-3" checked
						       data-rule-required="true"
						       data-msg-required="Подтвердите согласие"/>
						<label for="check-agree-3">
							Я принимаю условия<br class="for-desktop"/>
							<a class="link-border" href="policy.html">политики конфиденциальности</a><br class="for-desktop"/>
							и соглашения пользования
						</label>
					</div>
				</div><!--.form-group-->
			</div><!--.modal-card__form-->

			<button type="submit" class="btn">
				<span class="btn__in">Обратный звонок</span>
				<span class="btn__hover">Обратный звонок</span>
			</button>
		</div><!--.modal--card-->

		<button type="button" class="btn-close js-modal-close"></button>
	</form><!--.modal__box-->
</div><!--.modal-->