/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Buttons

   ==========================================================================
   ==========================================================================
   ========================================================================== */


/* ==========================================================================
   Glare
   ========================================================================== */

.glare { display: block; position: absolute; width: 70px; height: 200%; transform: rotate(13deg); /*background-color: fade(#fff, 30%);*/ top: -60%; right: 120%; animation: glare 4s ease infinite; z-index: 5; pointer-events: none;
   background: -moz-linear-gradient(left,  rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.4) 100%);
   background: -webkit-linear-gradient(left,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.4) 100%);
   background: linear-gradient(to right,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.4) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#4dffffff',GradientType=1 );

   &:after { content: ''; display: none; position: absolute; width: 20px; height: 100%; background: inherit; right: -15px; top: 0; }
}

@keyframes glare {
   from { right: 100%; transform: rotate(13deg) translateX(-110%); }
   40%, to { right: 0; transform: rotate(13deg) translateX(110%); }
}


/* ==========================================================================
   Button
   ========================================================================== */

.btn { display: inline-block; height: 3rem; line-height: 3rem; border-radius: 1.5rem; overflow: hidden; position: relative; font-family: @font-addl; font-size: 1.2rem; letter-spacing: .06em; font-weight: 700; border: none; background: @color-green; color: #fff; text-align: center;
   -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

   &:after { content: ''; background: @color-blue; display: block; padding-top: 100%; border-radius: 100%; transform: translateY(25%); position: absolute; left: -15%; right: -15%; top: 50%; transition: transform .5s; }

   &:hover {
      &:after { transform: translateY(-50%); }
      .btn__in { transform: translateY(-100%); }
      .btn__hover { transform: translateY(0); }
   }
}
.btn__in { position: relative; padding: 0 1.5rem; transform: translateY(0); }
.btn__hover { z-index: 5; position: absolute; left: 0; top: 0; width: 100%; height: 100%; transform: translateY(100%); }
.btn__in,
.btn__hover { display: block; top: .1em; transition: transform .3s; }

// Blue
.btn.btn_blue { background-color: @color-blue;
   &:after { background-color: #000; }
}

// Small
.btn.btn_sm { height: 1.5rem; line-height: 1.5rem; border-radius: .75rem; font-size: .8rem; font-family: @font-text; font-weight: 800; letter-spacing: .1em; text-transform: uppercase;
   .btn__in { padding: 0 .8rem; }
   .btn__in,
   .btn__hover { top: 0; }
}


@media @mobile {
   .btn { height: 4.5rem; line-height: 4.5rem; border-radius: 2.25rem; font-size: 1.8rem; }
   .btn__in { padding: 0 2rem; }

   .btn.btn_sm { height: 2.5rem; line-height: 2.5rem; border-radius: 1.25rem; font-size: 1.2rem;
      .btn__in { padding: 0 1.2rem; }
   }
}















































