/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Forms

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.placeholder(@color-placeholder);


/* ==========================================================================
   Group
   ========================================================================== */

.form-group { margin: 0 0 .5rem; }

@media @mobile {
   .form-group { margin-bottom: 1rem; }
}


/* ==========================================================================
   Label
   ========================================================================== */

.form-label { font-size: .8rem; line-height: 1; display: block; color: @color-txt-grey; margin: 0 1rem .25em; }

@media @mobile {
   .form-label { font-size: 1.6rem; margin-left: 2rem; }
}


/* ==========================================================================
   Input
   ========================================================================== */

.form-field { display: block; width: 100%; height: 3rem; border: solid 2px @color-border; border-radius: 1.5rem; text-align: center; color: @color-text-2; font-family: @font-addl; font-size: 1.2rem; letter-spacing: .06em; background: none;
   &.error-field { border-color: @color-red; }
}
div.error-field { color: @color-red; padding: 0 1rem; font-size: .8rem; }


@media @mobile {
   .form-field { height: 4.5rem; border-width: 3px; border-radius: 2.25rem; font-size: 1.8rem; }
   div.error-field { font-size: 1.6rem; }
}


/* ==========================================================================
   Checkbox, Radio
   ========================================================================== */

.form-checkbox { position: relative; text-align: left; .clearfix();
   input[type="checkbox"],
   input[type="radio"] { opacity: 0; visibility: hidden; position: absolute; }

   label { display: block; position: relative; padding: 0 0 0 2rem; cursor: pointer; font-size: 1.2rem; line-height: 1; color: @color-text-2;
      &:before, &:after { content: ''; display: block; position: absolute; left: 0; top: .1rem; }
      &:before { width: 1rem; height: 1rem; border: solid 3px #d6d6d7; border-radius: 4px; }
      &:after { display: none; left: 0; top: -.3rem; width: 1.4rem; height: 1.2rem; background: url('@{path-images}/check.svg') no-repeat 50% 50%; background-size: contain; }
   }

   input[type="checkbox"],
   input[type="radio"] {
      &:checked + label {
         &:after { display: block; }
      }
   }

   &.sm {
      label { opacity: .5; font-size: .8rem; line-height: normal; padding-left: 1.5rem;
         &:before { width:.75rem; height: .75rem; border-width: 2px; }
         &:after { width: 1.05rem; height: .9rem; top: -.2rem; }
      }
   }

   div.error-field { padding: 0 0 0 1.5rem; }
}


@media @mobile {
   .form-checkbox {
      label { padding-left: 3rem; font-size: 1.8rem;
         &:before { width: 1.5rem; height: 1.5rem; border-width: 4px; border-radius: 6px; }
         &:after { top: -.4rem; width: 2.1rem; height: 1.8rem; }
      }
   }
}









