/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Grids

   ==========================================================================
   ==========================================================================
   ========================================================================== */

body { background: @color-bg-grey-light; }

.body-wrapper { position: relative; width: 100%; overflow: hidden; margin: 0 auto; }

.container { width: 100%; padding: 0 12.5vw; margin: 0 auto; position: relative; min-height: 1px; .clearfix(); }


/* ==========================================================================
   Mobile
   ========================================================================== */

@media @mobile {
	.body-wrapper { width: 600px; }
	.container { padding: 0 30px; }
}