/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Modals

   ==========================================================================
   ==========================================================================
   ========================================================================== */

body.modal-opened { overflow: hidden; }

.backdrop { opacity: 0; pointer-events: none; background: fade(#fff, 50%); position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 98; transition: all .5s ease;
   body.modal-opened & { opacity: 1; pointer-events: none; }
}


/* ==========================================================================
   Modal
   ========================================================================== */

.modal { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 50; overflow: auto; .flex(); .align-items(center); .justify-content(center); pointer-events: none;
	&:before, &:after { content: ''; display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; opacity: 0; transition: opacity .5s; }
	&:before { background: url('@{path-images}/est-landscape.svg') no-repeat 50% 50%; background-size: 200% auto; }
	&:after { background: fade(#fff, 80%); }

	&.opened { pointer-events: auto;
		&:before, &:after { opacity: 1; }
	}
}
.modal__box { position: relative; box-shadow: 0 3rem 4rem fade(#3c3c3c, 30%); background: #ececec; overflow: hidden; border-radius: .5rem; z-index: 5; transform: translateY(-100vh); transition: transform .5s;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

	.modal.opened &,
	.modal-more.opened & { transform: translateY(0) !important; }
}


@media @mobile {
	.modal { display: block;
		&:before, &:after { display: none; }
	}
	.modal__box { box-shadow: none; position: absolute; left: 0; top: 0; right: 0; bottom: 0; border-radius: 0; transform: translateX(-100%); }
}


/* ==========================================================================
   Close
   ========================================================================== */

.btn-close { display: block; background: none; border: none; width: 5rem; height: 5rem; position: absolute; top: 0; right: 0; z-index: 10;
	&:after, &:before { content: ''; display: block; width: 1.5rem; height: .4rem; background: #9ba1a5; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%) rotate(45deg); }
	&:before { transform: translate(-50%,-50%) rotate(-45deg); }

   &:hover {
	   &:before, &:after { background-color: @color-blue; }
   }
}


/* ==========================================================================
   Card
   ========================================================================== */

.quiz-slider,
.modal-card,
.swiper-container { width: 48rem; height: 29rem; position: relative; }

.modal-card { background: #ececec; .flex(); .flex-direction(column); .align-items(center); .justify-content(space-between); padding: 2.5rem 4rem 3.5rem;
   &:before { content: ''; display: block; position: absolute; top: 1rem; right: 1rem; bottom: 1rem; left: 1rem; background: #fff; /*box-shadow: 0 0 4rem fade(#3c3c3c, 30%);*/ border-radius: .5rem; }

	.sct-title { position: relative; font-size: 2.5rem; text-align: center; margin: 0; width: 100%; padding: 0 .5em; }
	.btn__in { padding: 0 3rem; }
}
.modal-card__bg { display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 87%; opacity: .04; }
.modal-card__step { position: absolute; left: 2rem; top: 0; line-height: 5rem; font-size: 1.5rem; letter-spacing: -.16em; font-weight: 800; color: @color-text-2; }
.modal-card__checks { position: relative; width: 100%; .flex(); .justify-content(space-around);
	&.short { width: 70%; margin: 0 auto; }

	.form-checkbox { margin: 0 0 .8rem; }
}
.modal-card__btn { position: relative; }


@media @mobile {
	.quiz-slider,
	.modal-card,
	.swiper-container { width: 600px; height: 100%; }

	.modal-card { overflow: auto; display: block; padding: 100px 60px 60px;
		.sct-title { margin-bottom: 1em; font-size: 2rem; }
		.btn { width: 100%; }
	}

	.modal-card { background: #fff;
		&:before { display: none; padding: 30px; }
	}
	.modal-card__checks { display: block; margin: 0 0 50px;
		.form-checkbox { margin-bottom: 1.6rem; }
	}
}


/* ==========================================================================
   Card Start
   ========================================================================== */

.modal-card.start {
	.sct-title { text-align: left; padding: 0; }
}
.modal-card__bg-start { display: block; position: absolute; right: 0; bottom: 0; height: 86%; }
.modal-card__start-txt { position: relative; font-size: 1.2rem; line-height: normal; width: 100%; padding: 0 0 2em 6.5rem;
	b { font-weight: 800; }
}
.modal-card__stopwatch { display: block; width: 5rem; position: absolute; left: 0; top: 0; transform: translate(-55%,-55%); pointer-events: none; }


@media @mobile {
	.modal-card.start {
		.sct-title { text-align: center; }
	}
	.modal-card__bg-start { height: 400px; }
	.modal-card__start-txt { padding-left: 0; text-align: center; font-size: 1.5rem; }
}


/* ==========================================================================
   Card Form
   ========================================================================== */

.modal-card.form { }
.modal-card__sub-title { position: relative; font-size: 1.2rem; line-height: normal; color: @color-text-2; text-align: center; }
.modal-card__form { position: relative; width: 31rem; .flex(); .flex-wrap(wrap); .justify-content(space-between); .align-items(stretch);
	.form-group { width: 48%; }
}


@media @mobile {
	.modal-card__form { display: block; width: 100%;
		.form-group { width: 100%; }
	}
	.modal-card__sub-title { margin-bottom: 1.5em; }
}


/* ==========================================================================
   Modal More
   ========================================================================== */

.modal-more { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 50; overflow: auto; .flex(); .align-items(center); .justify-content(center); pointer-events: none; transition: background .5s;

	&.opened { pointer-events: auto; background: fade(#fff, 50%); }

	.modal-card { .justify-content(center); }
	.typical-txt { position: relative; }
	.js-more { display: none; }
}














































