/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Slider

   ==========================================================================
   ==========================================================================
   ========================================================================== */


/* ==========================================================================
   Arrows Button
   ========================================================================== */

.slick-arrow { display: block; width: 2rem; height: 2rem; border: none; border-radius: 50%; background: fade(@color-text, 50%) url('@{path-images}/arr-left.svg') no-repeat 50% 50%; background-size: .4rem auto; position: absolute; left: 7.3vw; bottom: 1.5rem; z-index: 5;

	span { color: @color-link; border-bottom: solid 1px fade(@color-link, 70%); position: absolute; left: 50%; bottom: -1.5rem; transform: translateX(-50%); font-size: 1rem; line-height: 1; }

	&:hover { background-color: @color-text; }

	&.slick-prev { transform: scale(-1,1); bottom: 4rem; }
}


@media @mobile {
	.slick-arrow { top: 100%; left: 53%; width: 4rem; height: 4rem; background-size: .8rem auto; bottom: auto; transform: translateY(50%);
		span { display: none; }
		&.slick-next { left: auto; right: 53%; }
		&.slick-prev { transform: translateY(50%) scale(-1,1); }
	}
}


/* ==========================================================================
   Dots
   ========================================================================== */

.slick-dots {
}















































