/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Titles

   ==========================================================================
   ==========================================================================
   ========================================================================== */


/* ==========================================================================
   Section Title
   ========================================================================== */

.sct-title { font-size: 3rem; line-height: 1; font-weight: 800; letter-spacing: -.02em; color: @color-text-2; margin: 0 0 1em; }


/* ==========================================================================
   Sup Title
   ========================================================================== */

.sup-title { }














































