/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Typography

   ==========================================================================
   ==========================================================================
   ========================================================================== */

html, body, button, input, select, textarea { color: @color-text; font-family: @font-text; line-height: 1.4; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased; }

html { font-size: 20px;
	@media @res1600 { font-size: 16px; }
	@media @res1440 { font-size: 15px; }
	@media @res1280 { font-size: 13px; }
	@media @res1024 { font-size: 11px; }
}


/* ==========================================================================
   Colors
   ========================================================================== */

.color-grey { color: @color-txt-grey !important; }
.color-beige { color: @color-beige !important; }
.color-blue { color: @color-blue !important; }
.color-red { color: @color-red !important; }


/* ==========================================================================
   Links
   ========================================================================== */

a { color: @color-link; text-decoration: none; cursor: pointer; outline: none !important; }

.link-border { color: @color-link; border-bottom: solid 1px fade(@color-link, 70%);
	&:hover { border-bottom-color: transparent; }
}


/* ==========================================================================
   Text block
   ========================================================================== */

.typical-txt { font-size: 1.5rem; line-height: normal;
	b { font-weight: 800; }
	p { margin: 0 0 1em;
		&:last-child { margin-bottom: 0; }
	}
	ul { margin: 0 0 1em; }
	li { margin: 0 0 .5em; position: relative; padding: 0 0 0 1em;
		&:before { content: '–'; position: absolute; left: 0; }
	}
}






