/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Page Article

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.scr-art { padding: 0 0 10vh 0; color: @color-text-2; }


@media @mobile {
	.scr-art { padding: 50px 0;
		.sct-title { font-size: 2.5rem; }
	}
}


/* ==========================================================================
   Header
   ========================================================================== */

.scr-art__head { .flex(); .align-items(center); .justify-content(space-between); padding: 2rem 0; }
.scr-art__head__logo { display: block; height: 4rem; }
.scr-art__head__back { font-size: 1.5rem; position: relative;
	&:before { content: '«'; position: absolute; right: 100%; margin-right: .25em;  }
}













































