<div class="est-main__cont">
	<div class="sct-title">
		Эксклюзивные дома
		в посёлке Конус
	</div>

	<div class="tags">
		<div class="tag">от 159 млн. ⃏</div>
		<div class="tag">Охрана</div>
		<div class="tag">11 км. от МКАД</div>
		<div class="clearfix"></div>
		<div class="tag">от 20 соток</div>
		<div class="tag">Парковая зона</div>
	</div><!--.tags-->

	<div class="est-main__btns">
		<button type="button" class="btn js-modal" data-target="#modal-order">
			<span class="btn__in">Бесплатная консультация</span>
			<span class="btn__hover">Бесплатная консультация</span>
		</button>

		<div class="label-moscow row">
			<img src="_asset/img/moscow.svg" alt="">
			<div>
				<b>Официальный<br/>
					представитель</b><br/>
				Девелоперов<br/>
				подмосковья
			</div>
		</div>
	</div><!--.est-main__btns-->

	<img class="est-main__logo" src="_asset/img/logo-konus.svg" alt="">
</div><!--.est-main__cont-->

<div class="est-main__pic konus">
	<img class="est-main__scheme" src="_asset/img/est-konus.svg" alt="">

	<img class="est-main__compass" src="_asset/img/compass-2.svg" alt="">
	<img class="est-main__premium" src="_asset/img/premium.svg" alt="">
</div><!--.est-main__pic-->