<div class="est-main__cont">
	<div class="sct-title">
		Эксклюзивные квартиры
		в доме Жуковка №1
	</div>

	<div class="tags">
		<div class="tag">от 46 млн. ⃏</div>
		<div class="tag">Охрана</div>
		<div class="tag">9 км. от МКАД</div>
		<div class="tag">8 этажей</div>
		<div class="tag">Парковая зона</div>
		<div class="tag">Панорамное остекление</div>
	</div><!--.tags-->

	<div class="est-main__btns">
		<button type="button" class="btn js-modal" data-target="#modal-order">
			<span class="btn__in">Бесплатная консультация</span>
			<span class="btn__hover">Бесплатная консультация</span>
		</button>

		<div class="label-moscow row">
			<img src="_asset/img/moscow.svg" alt="">
			<div>
				<b>Официальный<br/>
					представитель</b><br/>
				Девелоперов<br/>
				подмосковья
			</div>
		</div>
	</div><!--.est-main__btns-->

	<img class="est-main__logo" src="_asset/img/logo-zhukovka-1.svg" alt="">
</div><!--.est-main__cont-->

<div class="est-main__pic">
	<div class="est-main__photo js-bg-cover">
		<img class="js-bg-cover__img" src="_asset/img/est-zhukovka-1.jpg" alt="">
	</div>

	<img class="est-main__premium" src="_asset/img/premium.svg" alt="">
</div><!--.est-main__pic-->