<div class="hot-slider__slide">
	@@include('../../cards/_kindergarten.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_infra.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_park.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_map-dacha.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_zhucard.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_safe.html', {})
</div><!--.hot-slider__slide-->
