<div class="hot-slider__slide">
	@@include('../../cards/_park.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_gymnasium-3.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_infra.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_zhucard.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_map-selo.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_safe.html', {})
</div><!--.hot-slider__slide-->
