<div class="hot-slider__slide">
	@@include('../../cards/_zhucard.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_free-plane.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_park.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_panorama.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_map-zhukovka-1.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_safe.html', {})
</div><!--.hot-slider__slide-->
