<div class="hot-slider__slide">
	@@include('../../cards/_zhucard.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_gymnasium.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_health.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_safe.html', {})
</div><!--.hot-slider__slide-->

<div class="hot-slider__slide">
	@@include('../../cards/_map-zhukovka-2.html', {})
</div><!--.hot-slider__slide-->
