/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Screen Main

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.scr-main { height: 100vh; .flex(); .flex-direction(column); .align-items(stretch); position: relative; overflow: hidden; }

@media @mobile {
   .scr-main { height: auto; display: block; padding: 0 0 100px; }
}


/* ==========================================================================
   Video Background
   ========================================================================== */

.video-bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; padding: 0;
   video,
   iframe { box-sizing: border-box; height: 56.25vw; left: 50%; min-height: 100%; min-width: 100%; transform: translate(-50%, -50%); position: absolute; top: 50%; width: 177.77777778vh;
   }

   &:after { content: ''; display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: fade(@color-bg-grey-light, 90%); }
}

@media @desktop {
   .video-bg { opacity: 0; transition: opacity .5s 1s;
      body.loaded & { opacity: 1; }
   }
}

@media @mobile {
   .video-bg { display: none; }
}


/* ==========================================================================
   River
   ========================================================================== */

.scr-main__river { position: absolute; left: 50%; top: 28%; transform: translate(-50%,-50%); width: 149.4rem; height: 75.7rem; opacity: .4; }

@media @desktop {
   //.scr-main__river { opacity: 0; transition: opacity 1s;
   //   body.loaded & { opacity: .4; }
   //}
}

@media @mobile {
   .scr-main__river { transform: translate(-50%,-50%) scale(.5); top: 250px; }
}


/* ==========================================================================
   Title
   ========================================================================== */

.scr-main__title { position: absolute; left: 44.8%; top: 50%; transform: translate(-50%,-50%); max-width: 60.4%; max-height: 46.7%; }

@media @mobile {
   .scr-main__title { max-height: none; max-width: none; width: 540px; left: 30px; top: 240px; transform: none; }
}


/* ==========================================================================
   Flag
   ========================================================================== */

.scr-main__flag { display: block; position: absolute; top: -2px; transform: translateX(-50%); opacity: .85; /*max-height: 62.5vh;*/ width: 9.1%;
   &.kalinka { left: 82.6%; }
   &.awards { left: 93.2%; }
}


@media @desktop {
   //.scr-main__flag { transform: translate(-50%,-100%); transition: transform 1s;
   //   &.awards { transition-delay: .3s; }
   //
   //   body.loaded & { transform: translateX(-50%); }
   //}
}

@media @mobile {
   .scr-main__flag { transform: none; width: 70px;
      &.kalinka { left: auto; right: 120px; }
      &.awards { left: auto; right: 30px; }
   }
}



/* ==========================================================================
   Labels
   ========================================================================== */

.scr-main__lbls { position: relative; .flex(); .align-items(center); height: 32%;
   .label-moscow,
   .label-obj { margin: 0 0 0 4.2vw; }
}

.label-moscow { font-family: @font-addl; font-size: 1rem; line-height: 1; font-style: italic; letter-spacing: .02em; text-align: left;
   img { display: block; height: 5rem; margin: 0 0 .6rem; }

   &.row { .flex(); .align-items(center);
      img { margin: 0 .5rem 0 0; }
   }
}

.label-obj { }
.label-obj__num { height: 5rem; line-height: 6rem; margin: 0 0 .6rem; font-size: 5.5rem; font-family: @font-addl; font-weight: 200; }
.label-obj__caption { font-size: .8rem; line-height: 1.25; letter-spacing: .02em; text-transform: uppercase; }


@media @mobile {
   .scr-main__lbls { height: auto; padding: 30px 0 0 0;
      .label-moscow,
      .label-obj { margin: 0 0 0 30px; }
   }
}


/* ==========================================================================
   Content
   ========================================================================== */

.scr-main__cont { position: relative; height: 54%; .flex(); .justify-content(center); .align-items(flex-start); .flex-direction(column); padding: 22vh 0 0 42vw;
   .typical-txt { margin: 1.2rem 0; }
}
.scr-main__cont__btns { .clearfix();
   .btn,
   .play-video { float: left; }
   .play-video { margin-left: 2.6vw; }
}

.scr-main__note { font-family: @font-addl; opacity: .7; font-size: 1.5rem; letter-spacing: .1em; line-height: normal; }

.play-video { .flex(); .align-items(center); text-align: left; }
.play-video__icon { height: 3rem; }
.play-video__txt { margin: 0 0 0 .5em; font-size: 1rem; line-height: normal; color: @color-blue;
   span { border-bottom: solid 1px fade(@color-blue, 70%);
      .play-video:hover & { border-bottom-color: transparent; }
   }
}


@media @desktop {
   //.scr-main__cont { opacity: 0; transform: translateX(-25%); transition: opacity 1s, transform 1s; transition-delay: .7s;
   //   body.loaded & { opacity: 1; transform: none; }
   //}
}

@media @mobile {
   .scr-main__cont { height: auto; padding: 0 30px; margin: 230px 0 50px; text-align: center; display: block; }
   .scr-main__cont__btns { .flex(); .flex-direction(column); .align-items(center); .justify-content(center);
      &:before, &:after { display: none; }
      .btn,
      .play-video { float: none; margin: 0; }
      .btn { position: absolute; top: 250px; }
   }
   .scr-main__note { font-size: 1.2rem; margin-top: 160px; }
   .play-video__icon { height: 4.5rem; }
   .play-video__txt { font-size: 1.5rem; }
}


/* ==========================================================================
   Available
   ========================================================================== */

.scr-main__available { position: relative; height: 14%; .flex(); .align-items(center); padding: 0 0 0 4.2vw;
   .obj-with-num { margin: 0 15px 0 0; }
}

.obj-with-num { font-size: 1.2rem; line-height: normal; position: relative; white-space: nowrap;
   sup { display: inline-block; text-align: center; width: 16px; height: 16px; line-height: 18px; border-radius: 50%; background: @color-red; color: #fff; font-size: 10px; position: relative; top: -1.5em; }
}


@media @desktop {
   //.obj-with-num { opacity: 0; transform: translateX(-100%); transition: opacity .5s, transform .5s; transition-delay: 2.1s;
   //   &:nth-child(2) { transition-delay: 2.2s; }
   //   &:nth-child(3) { transition-delay: 2.4s; }
   //   &:nth-child(4) { transition-delay: 2.6s; }
   //   &:nth-child(5) { transition-delay: 2.8s; }
   //
   //   body.loaded & { opacity: 1; transform: translateX(0); }
   //}
}

@media @mobile {
   //.scr-main__available { height: auto; padding: 0 30px; .justify-content(space-between); margin: 80px 0 0;
   //   .obj-with-num { margin: 0; }
   //}
}


/* ==========================================================================
   Beetle
   ========================================================================== */

.beetle-preload { width: 0; overflow: hidden;
   img { display: block; width: 100%; opacity: 0; visibility: hidden; }
}

.beetle { width: 35vw; transform: translate(-50%,-50%); position: absolute; left: 79%; top: 67vh; pointer-events: none;
   img { display: block; width: 100%; }
}


@keyframes orbit2 {
   from { 	transform: rotate(0deg) translate(-5%,0) rotate(0deg); }
   to   {  transform: rotate(360deg) translate(-5%,0) rotate(-360deg); }
}

@media @desktop {
   .beetle.main { opacity: 0; left: 100%; top: 100vh; transition: opacity 1s, left 1s, top 1s, width 1s;/* transition-delay: 1.4s;*/ animation: orbit2 4s linear infinite;
      body.loaded & { left: 63%; top: 50vh; opacity: 1;
         &.animated { left: 17%; top: 147vh; width: 17.5vw; transition-delay: 0s; }
      }
   }
}

@media @mobile {
   .beetle.main { width: 300px; top: 400px; }
}













































