/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Screen Map

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.scr-map { min-height: 100vh; .flex(); .align-items(stretch); .justify-content(space-between); position: relative; padding: 18.75vh 6.25vw 13.5vh; background: url('@{path-images}/map.svg') no-repeat 50% 50%; background-size: cover; }


@media @mobile {
	.scr-map { min-height: auto; display: block; background: none; padding: 100px 0 100px; }
}


/* ==========================================================================
   Left Column
   ========================================================================== */

.scr-map__left { .flex(); .flex-direction(column); .justify-content(space-between); position: relative; z-index: 5; }

@media @mobile {
	.scr-map__left { display: block; padding: 0 30px; }
}


/* ==========================================================================
   Text
   ========================================================================== */

.scr-map__txt { }

@media @desktop {
	.scr-map__txt { opacity: 0; transform: translateX(-100%); transition: opacity .5s, transform .5s;
		&.animated { opacity: 1; transform: translateX(0); }
	}
}


/* ==========================================================================
   Celebrities
   ========================================================================== */

.celeba { width: 5rem; }
.celeba__photo { position: relative;
	img { display: block; width: 100%; border-radius: 50%; }
	+ .celeba__name { margin-top: .5rem; }
}
.celeba__name { text-align: left; opacity: .8; padding: 0 0 0 .5em; font-size: 1rem; line-height: 1;
	+ .celeba__photo { margin-top: .5rem; }
}
.celeba__dot { width: 1rem; height: 1rem; position: absolute; right: 0; bottom: 0; border-radius: 50%;
	&.blue { background-color: @color-blue; }
	&.orange { background-color: @color-orange; }
	&.violet { background-color: @color-violet; }
	&.pink { background-color: @color-pink; }
	&.aqua { background-color: @color-aqua; }
}

.celebrities { .clearfix(); width: 18rem;
	.celeba { margin: 1rem 1rem 0 0; float: left; }
}


@media @desktop {
	.celeba { opacity: 0; transform: translateX(-100%); transition: opacity .4s, transform .4s;
		&:nth-child(2) { transition-delay: .15s; }
		&:nth-child(3) { transition-delay: .3s; }
		&:nth-child(4) { transition-delay: .45s; }
		&:nth-child(5) { transition-delay: .6s; }
		&:nth-child(6) { transition-delay: .75s; }

		.celebrities.animated & { opacity: 1; transform: translateX(0); }
	}
}

@media @mobile {
	.celebrities { width: auto; .flex(); .flex-wrap(wrap); .justify-content(space-between); padding: 30px 0 60px;
		&:before, &:after { display: none; }
	}
	.celeba { width: 7rem; }
	.celeba__name { font-size: 1.4rem; }
}


/* ==========================================================================
   Benefit Numbers
   ========================================================================== */

.benefit-num { }
.benefit-num__num { font-size: 5.5rem; line-height: 1; font-weight: 200; font-family: @font-addl; }
.benefit-num__pic { display: block; height: 6.2rem; margin: 0 0 .6rem; position: relative;
	&.view { left: -2rem; }
	&.compass { height: 7.5rem; left: -1.7rem; margin-top: -1.2rem; }
}
.benefit-num__caption { font-size: .8rem; line-height: 1.25; letter-spacing: .02em; text-transform: uppercase; }

.benefit-nums { position: relative; border-left: solid .4rem fade(#000, 20%); padding: 0 0 0 3rem; .flex(); .flex-direction(column); .justify-content(space-between);
	.benefit-num { margin: 1rem 0;
		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }
	}
}


@media @mobile {
	.benefit-nums { border: none; padding: 0 30px;  display: block;
		.benefit-num { margin: 60px 0 0;
			&:first-child { position: absolute; top: -150px; right: 0; }
		}
	}

	.benefit-num { text-align: center; }
	.benefit-num__num { font-size: 8rem; }
	.benefit-num__pic { margin-left: auto; margin-right: auto; height: 10rem;
		&.view { left: auto; }
	}
	.benefit-num__caption { font-size: 1.5rem; }
}


/* ==========================================================================
   Pins
   ========================================================================== */

.scr-map__pins { position: absolute; left: 0; top: 0; right: 0; bottom: 0; }

.scr-map__pin { display: block; height: 4.2rem; position: absolute; transform: translate(-50%,-100%); cursor: pointer; z-index: 5;
	&:hover { z-index: 10; }

	img { display: block; height: 100%; position: relative;
		&.shadow { height: 85%; position: absolute; left: 33%; bottom: -.1rem; opacity: .7; pointer-events: none; }
	}

	&.pin-1 { left: 37%; top: 35.7%; }
	&.pin-2 { left: 42.7%; top: 32.5%; }
	&.pin-3 { left: 47.9%; top: 33.3%; }
	&.pin-4 { left: 39.1%; top: 43.3%; }
	&.pin-5 { left: 35.4%; top: 55.8%; }
	&.pin-6 { left: 41.5%; top: 50%; }
	&.pin-7 { left: 47.9%; top: 45%; }
	&.pin-8 { left: 57.3%; top: 50.8%; }
	&.pin-9 { left: 49.5%; top: 60%; }
	&.pin-10 { left: 54.2%; top: 58.3%; }
	&.pin-11 { left: 64.6%; top: 58.3%; }
	&.pin-12 { left: 45.8%; top: 67.5%; }
	&.pin-13 { left: 50%; top: 68.3%; }
	&.pin-14 { left: 52.1%; top: 75%; }
	&.pin-15 { left: 47.8%; top: 79.2%; }
}

.scr-map__dot { width: 1rem; height: 1rem; transform: translate(-50%,-50%); position: absolute; border-radius: 50%;
	&.blue { left: 36.2%; top: 35.8%; background-color: @color-blue; }
	&.orange { left: 39.1%; top: 49.2%; background-color: @color-orange; }
	&.violet { left: 43.1%; top: 34.2%; background-color: @color-violet; }
	&.pink { left: 45.6%; top: 83.8%; background-color: @color-pink; }
	&.aqua { left: 66.9%; top: 59.7%; background-color: @color-aqua; }
}

.scr-map__pin__caption { display: block; position: absolute; left: 50%; transform: translate(-50%,-10%); bottom: 100%; background: #000; color: #fff; line-height: 2rem; padding: 0 1rem; text-align: center; font-size: 1.2rem; opacity: 0; transition: opacity .3s; white-space: nowrap; pointer-events: none;
	.scr-map__pin:hover & { opacity: 1; }
}



@media @desktop {
	.scr-map__pin { opacity: 0; transform: translate(-50%,-300%); transition: opacity .5s, transform .5s;
		&.pin-2 { transition-delay: .1s; }
		&.pin-3 { transition-delay: .2s; }
		&.pin-4 { transition-delay: .3s; }
		&.pin-5 { transition-delay: .4s; }
		&.pin-6 { transition-delay: .5s; }
		&.pin-7 { transition-delay: .6s; }
		&.pin-8 { transition-delay: .7s; }
		&.pin-9 { transition-delay: .8s; }
		&.pin-10 { transition-delay: .9s; }
		&.pin-11 { transition-delay: 1s; }
		&.pin-12 { transition-delay: 1.1s; }
		&.pin-13 { transition-delay: 1.2s; }
		&.pin-14 { transition-delay: 1.3s; }
		&.pin-15 { transition-delay: 1.4s; }

		.scr-map.animated & { opacity: 1; transform: translate(-50%,-100%); }
	}
}

@media @mobile {
	.scr-map__pins { position: relative; bottom: auto; left: 50%; top: auto; right: auto; transform: translateX(-50%); width: 260%; height: 720px; background: url('@{path-images}/map.svg') no-repeat 50% 50%; background-size: cover; }
	.scr-map__pin__caption { display: none; }
}











































