/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Screen Slider

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.scr-slider { height: 50vh; .clearfix(); }
.scr-slider__slide { float: left; width: 25%; }
.scr-slider__card { position: relative; width: 100%; height: 50vh; }
.scr-slider__link { display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; }


@media @mobile {
	.scr-slider { height: auto; }
	.scr-slider__card { height: 500px; }
	.scr-slider__slide { width: auto; }
}


/* ==========================================================================
   Caption
   ========================================================================== */

.scr-slider__caption { position: absolute; right: 0; bottom: 0; background: #000; color: #fff; line-height: 2rem; padding: 0 1rem; text-align: center; min-width: 50%; font-size: 1.2rem; }


@media @mobile {
	.scr-slider__caption { line-height: 4rem; padding: 0 2rem; font-size: 2rem; }
}










































