/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Screen Catalog

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.scr-cat { position: relative; padding: 26vh 0 13vh; }

@media @mobile {
	.scr-cat { padding: 100px 0; }
}


/* ==========================================================================
   Header
   ========================================================================== */

.scr-cat__head { .flex(); .align-items(center); .justify-content(space-between); margin: 0 0 3.5rem;
	.sct-title { position: relative; margin: 0; }
}
.scr-cat__head__people { display: block; height: 5.4rem; position: absolute; right: .5em; top: .25em; }


@media @desktop {
	.scr-cat__head__people { opacity: 0; transform: translateX(-100%); transition: opacity .5s, transform .5s;
		&.animated { opacity: 1; transform: translateX(0); }
	}
}

@media @mobile {
	.scr-cat__head { display: block; }
	.scr-cat__head__people { display: none; }
}


/* ==========================================================================
   Counter
   ========================================================================== */

.scr-cat__counter { min-width: 18rem; position: relative; color: @color-txt-grey; font-family: @font-addl; text-align: right; }
.scr-cat__counter__num { position: relative; font-size: 11rem; line-height: .7; font-weight: 300; padding: .2em 0 0 0; text-align: left; width: 17rem; float: right; }
.scr-cat__counter__caption { position: relative; font-size: 2rem; line-height: 1; clear: both; }
.scr-cat__counter__people { position: absolute; height: 5.5rem; display: block;
	&.couple { top: 5%; left: 75%; transform: translate(-50%,-50%); }
	&.girlfriends { right: 100%; top: 0; transform: translateX(50%); }
	&.teen-phone { left: 1rem; bottom: 0; }
	&.woman-dogs { bottom: .5rem; left: 50%; transform: translateX(-50%); }
	&.boy-bicycle { right: 0; top: 50%; transform: translate(50%,-50%); }
}


@media @mobile {
	.scr-cat__counter { text-align: center; margin: 60px 0 0; }
	.scr-cat__counter__num { font-size: 15rem; float: none; padding-left: .1em; }
	.scr-cat__counter__caption { text-align: right; font-size: 3rem; padding: 0 1em 0 0; }
	.scr-cat__counter__people {
		&.girlfriends { right: 90%; }
		&.woman-dogs { left: 40%; }
		&.boy-bicycle { right: 30px; }
	}
}


/* ==========================================================================
   Catalog
   ========================================================================== */

.catalog { .clearfix(); position: relative; }
.catalog__item { float: left; width: 33.333333%; height: 33.3vh; position: relative; border-left: solid 1px #e6e7e7; border-top: solid 1px #e6e7e7; transition: background-color .3s;

	&:hover { background: #fff; }
}
.catalog__item__more { position: absolute; bottom: 9.4%; right: 8.3%; color: @color-link; border-bottom: solid 1px fade(@color-link, 70%); }
.catalog__item__logo { display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); max-width: 62.5%; max-height: 68.8%;
	&.ilin,
	&.konus { max-width: 54%; }
	&.academy { top: 43%; }
	&.dsk { top: 44%; }
}
.catalog__item__link { display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; }
.catalog__item__people { display: block; height: 5.4rem; position: absolute; transform: translate(-50%,-50%);
	&.skate { left: 18%; top: 75%; height: 4.2rem; }
	&.backpack { left: 66%; top: 45%; }
	&.stairs { left: 63%; top: 75%; }
	&.coat { left: 63%; top: 75%; }
	&.hat { left: 50%; top: 76%; }
	&.coat-2 { display: none; }
}

.catalog__item__more,
.catalog__item__logo { opacity: .5; transition: opacity .3s;
	.catalog__item:hover & { opacity: 1; }
}


@media @desktop {
	.catalog > .catalog__item__people { display: none; }
	.catalog__item {
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) { border-top: none; }
		&:first-child,
		&:nth-child(4),
		&:nth-child(7),
		&:nth-child(10),
		&:nth-child(13) { border-left: none; }
	}
	.catalog__item__people { opacity: 0; transition: opacity .5s, transform .5s;
		&.animated { opacity: 1; transform: translate(-50%,-50%) !important; }

		&.skate,
		&.coat { transform: translate(-150%,-50%); }
		&.backpack { transform: translate(50%,-50%); }
		&.stairs,
		&.hat { transform: translate(-50%,50%); }
	}
}

@media @mobile {
	.catalog { margin: 0 -30px; }
	.catalog__item { width: 50%; height: 230px;
		&:nth-child(odd) { border-left: none; }
		&:nth-child(14),
		&:last-child { border-bottom: solid 1px #e6e7e7; }
		&:last-child { border-right: solid 1px #e6e7e7; }
	}
	.catalog__item__people { height: 4rem;
		&.stairs { left: 20%; }
		&.coat { display: none; }
		&.coat-2 { display: block; left: 150%; top: 50%; }
	}
}












































