/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Screen Hot

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.scr-hot { position: relative; padding: 13vh 0; }

@media @mobile {
   .scr-hot { padding: 80px 0; }
}


/* ==========================================================================
   Head
   ========================================================================== */

.scr-hot__head { .flex(); .align-items(center); .justify-content(space-between); margin: 0 0 2.5rem;
   .sct-title { margin-bottom: 0; }
}

.scr-hot__logos { .flex(); .align-items(center); }
.scr-hot__premium { display: block; height: 6rem; margin: 0 1.8rem 0 0; }

.stamp { height: 6rem; width: 6rem; line-height: 6.5rem; text-align: center; background: url('@{path-images}/stamp.svg') no-repeat 50% 50%; background-size: cover; opacity: .4; font-family: @font-addl; font-size: 3rem; color: @color-text-2; }


@media @mobile {
   .scr-hot__head { display: block;
      .sct-title { margin-bottom: .5em; }
   }
   .scr-hot__logos { width: auto; }
}


/* ==========================================================================
   Slider
   ========================================================================== */

.hot-slider { position: relative; padding: 0 0 0 12.5vw; }
.hot-slider__slide { padding: 0 2.1vw 0 0; display: block !important; }

@media @mobile {
   .hot-slider { padding: 0; margin: 0 0 130px; }
   .hot-slider__slide { padding: 0 30px; }
}


/* ==========================================================================
   Card
   ========================================================================== */

.hot-card { width: 48rem; background: #fff; .clearfix(); }

.hot-card__gall,
.hot-card__cont { height: 24rem; float: left; width: 50%; }

.hot-card__cont { border: solid 1px @color-border; border-left: none; border-radius: 0 5px 5px 0; .flex(); .flex-direction(column); .justify-content(space-between); padding: 1.5rem 3rem;
   .typical-txt { font-size: 1.2rem; overflow: hidden; height: 8rem; }
   .read-more { max-height: 8rem;
      .js-more { white-space: nowrap; color: @color-link; border-bottom: dashed 1px fade(@color-link, 70%); cursor: pointer; }
   }
}
.hot-card__title { font-weight: 700; font-size: 1.5rem; letter-spacing: -.02em; line-height: normal; margin: 0 0 .5em; }
.hot-card__tbl { font-size: 1.2rem; line-height: 1.2; text-align: left; margin: 0 0 .75em;
   th { font-weight: 800; padding: 0 1em 0 0; }
}

.hot-card__bottom { .flex(); .align-items(center); .justify-content(space-between); }
.hot-card__price { font-size: 1.2rem; font-weight: 800; }


@media @mobile {
   .hot-card { width: 540px; }
   .hot-card__gall,
   .hot-card__cont { float: none; width: auto; }
   .hot-card__gall { height: 480px; }
   .hot-card__cont { height: auto; display: block; border-radius: 0; border: solid 1px @color-border; padding: 30px;
      .typical-txt { height: auto; }
      .read-more { max-height: none; }
      .js-more { display: none; }
   }
   .hot-card__bottom { padding: 30px 0 0; }
}


/* ==========================================================================
   Gallery
   ========================================================================== */

.hot-card__gall { position: relative; overflow: hidden; }
.hot-card__gall__for { }
.hot-card__gall__for__slide { height: 24rem; position: relative; }

.hot-card__gall__nav { position: absolute; left: 0; bottom: .75rem; width: 100%; }
.hot-card__gall__nav__slide { padding: 0 0 0 .75rem; display: block !important;
   .js-bg-cover { width: 3rem; height: 3rem; cursor: pointer;
      .slick-current > div > & {
         &:before { content: ''; display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; border: solid 3px #000; }
      }
   }
}


/* ==========================================================================
   Bottom
   ========================================================================== */

.scr-hot__bottom { padding: 2rem 0 0; }
.scr-hot__bottom__txt { display: inline-block; margin: 0 0 1.8rem; position: relative;
   img { display: block; width: 8.2rem; position: absolute; left: 100%; top: 40%; }
   .typical-txt { font-size: 1.2rem; }
   b { font-weight: 800; }
}
.scr-hot__bottom__btn { text-align: center; }


@media @mobile {
   .scr-hot__bottom { text-align: center; }
   .scr-hot__bottom__txt {
      img { display: none; }
   }
}































