/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Screen Hot

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.scr-feature { position: relative; padding: 13vh 0; text-align: center;
   .sct-title { margin-bottom: 0; }
}

@media @mobile {
   .scr-feature { padding: 80px 0 160px; }
}


/* ==========================================================================
   Title icon
   ========================================================================== */

.scr-feature__icon { display: block; margin: 0 auto; width: 18vw;
   + .sct-title { margin-top: .5em; }
}


/* ==========================================================================
   Feature Item
   ========================================================================== */

.feature { text-align: center; }
.feature__caption { color: @color-text-2; font-size: 1.5rem; line-height: normal; font-weight: 800; margin: 0 0 .5em; letter-spacing: -.02em; }
.feature__val { color: @color-text-2; font-size: 2.2rem; line-height: normal; font-weight: 700; letter-spacing: -.04em;
   span { font-size: 4.5rem; font-weight: 500; }
}

.features { .flex(); .justify-content(space-around); .flex-wrap(wrap);
   .feature { width: 42%; margin: 3rem 0 0; }
}


@media @mobile {
   .feature__val {
      span { font-size: 3.5rem; }
   }
   .features {
      .feature { width: 100%; margin: 80px 0 0; }
   }
}

































