/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Screen Infrastructure

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.scr-infra { position: relative; padding: 15vh 0 13vh; }

@media @mobile {
	.scr-infra { padding: 0 0 100px; }
}


/* ==========================================================================
   Grid
   ========================================================================== */

.scr-infra__col-left { float: left; width: 33%; }
.scr-infra__col-right { float: right; width: 67%; }

@media @mobile {
	.scr-infra__col-left,
	.scr-infra__col-right { float: none; width: auto; }
}


/* ==========================================================================
   Head
   ========================================================================== */

.parallax-head { height: 50vh; color: #fff; background: url('@{path-images}/infra-head.jpg') no-repeat 50% 0; background-size: cover; .flex(); .align-items(flex-end);
	.sct-title { color: inherit; position: relative; display: inline-block; font-size: 5rem; margin-bottom: .5em; }
	.beetle { width: 10.4vw; left: 100%; top: 50%; transform: translate(-20%,-50%); }
}


@media @mobile {
	.parallax-head { text-align: center;
		.sct-title { font-size: 3.5rem; }
		.beetle { display: none; }
	}
}


/* ==========================================================================
   About Text
   ========================================================================== */

.scr-infra__about { padding: 6rem 0 0; .clearfix(); margin: 0 0 3rem;
	.sct-title { margin-bottom: .5em; }
}
.scr-infra__about__pic { width: 92%; position: relative;
	img { display: block; width: 100%;
		&.people { position: absolute; left: 44%; bottom: -2.5%; width: auto; height: 5.4rem; }
	}
}


@media @desktop {
	.scr-infra__about__pic img.people { opacity: 0; transform: translateX(-100%); transition: opacity .5s, transform .5s;
		&.animated { opacity: 1; transform: translateX(0); }
	}
}

@media @mobile {
	.scr-infra__about__pic { display: none; }
}


/* ==========================================================================
   List
   ========================================================================== */

.scr-infra__list { }
.scr-infra__list__head { .clearfix(); border-bottom: solid 1px @color-border; .typical-txt; padding: 0 0 1.25em; margin: 0 0 1.25em; }
.scr-infra__list__title { font-weight: 800; }
.scr-infra__list__col { float: left; width: 33%; }
.scr-infra__list__item { position: relative; font-size: 1.2rem; line-height: 1; margin: 0 0 .75em; padding: 0 .5em 0 0;
	img { display: block; position: absolute; right: 100%; top: -.05em; margin-right: 1.5rem; height: 1.1rem; opacity: .5; transform: translateX(50%); }
}
.scr-infra__list__more { clear: both; .clearfix(); padding: 1rem 0 0;
	img { height: 2rem; display: block; }
}


@media @desktop {
	.scr-infra__list__col { opacity: 0; transform: translateY(-50%); transition: opacity .5s, transform .5s;
		&:nth-child(2) { transition-delay: .2s; }
		&:nth-child(3) { transition-delay: .4s; }

		.scr-infra__list.animated & { opacity: 1; transform: translateY(0); }
	}
	.scr-infra__list__more { opacity: 0; transform: translateX(-50%); transition: opacity .5s, transform .5s;
		&.animated { opacity: 1; transform: translateX(0); }
	}
}

@media @mobile {
	.scr-infra__list__head { }
	.scr-infra__list__col { float: none; width: auto; }
	.scr-infra__list__item { font-size: 1.5rem; margin-left: 2.2rem; }
}
































