/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Screen Cards

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.scr-cards { position: relative; padding: 13vh 0 19vh; text-align: center; }

@media @mobile {
	.scr-cards { padding: 100px 0; }
}


/* ==========================================================================
   Cards Grid
   ========================================================================== */

.scr-cards__grid { .flex(); .flex-wrap(wrap); .justify-content(space-between);
	.card { width: 32%; margin: 0 0 2vw;
		&.card_wide { width: 66%; }
	}
}

@media @mobile {
	.scr-cards__grid { display: block;
		.card { width: 100% !important; margin: 0 0 30px; }
	}
}


/* ==========================================================================
   Card
   ========================================================================== */

.card { width: 24vw; position: relative; background: @color-grey; text-align: left;
	.typical-txt { position: relative; font-size: 1.2rem; }
}
.card__front { height: 22vw; position: relative; padding: 1.5rem 3vw 0 3vw; overflow: hidden;
	&.bottom { .flex(); .flex-direction(column); .justify-content(flex-end); padding-bottom: 1.2rem; }

	.beetle { width: 44%; left: 70%; top: 57%; }
}
.card__title { position: relative; color: @color-text-2; font-weight: 800; font-size: 2rem; line-height: 1; margin: 0 0 .35em; }
.card__flag { display: block; opacity: .8; position: absolute; right: 2rem; top: -.5rem; width: 3rem; }
.card__pic { display: block; position: absolute;
	&.wine { height: 100%; top: 0; right: 0; }
	&.mask { width: 65%; left: 50%; bottom: -6%; transform: translateX(-50%); }
	&.zhucard { width: 94%; left: 10%; top: 43.3%; }
	&.brok { transform: translateX(-50%);
		&.michael { height: 91%; left: 46%; top: 22%; }
		&.vladimir { height: 82%; left: 58%; top: 23%; }
		&.natali { height: 81%; left: 71%; top: 22%; }
		&.yula { height: 78%; left: 84%; top: 22%; }
		&.olesya { height: 83%; left: 94%; top: 23%; }
	}
	&.free-plane { height: 100%; left: 50%; top: 0; transform: translateX(-50%); }
	&.park { width: 100%; left: 0; bottom: 0; }
	&.panorama { width: 100%; left: 0; bottom: 0; }
	&.map { width: 82%; left: 0; bottom: 0; }
	&.safe { width: 87%; left: 0; bottom: 0; }
	&.river { width: 100%; left: 0; bottom: 0; }
	&.infra { width: 100%; left: 0; bottom: 0; }
	&.edu { width: 100%; left: 0; top: 0; }
	&.spa { width: 100%; left: 0; bottom: 0; }
	&.horse { width: 84%; left: 50%; transform: translateX(-50%); bottom: 0; }
	&.zoo { width: 100%; left: 0; bottom: 0; }
	&.parking { width: 95%; right: 0; top: 3%; }
}

.card__hover { pointer-events: none; opacity: 0; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border: solid 1px @color-border; background: fade(#fff, 90%); padding: 1.5rem 1.5vw 0 3vw; overflow: hidden; transition: opacity .3s;
	.card:hover & { opacity: 1; }
}


@media @desktop {
	.card__flag { opacity: 0; transform: translateY(-100%); transition: opacity .5s, transform .5s;
		.card:nth-child(2) & { transition-delay: .2s; }
		.card:nth-child(3) & { transition-delay: .4s; }
		.card:nth-child(4) & { transition-delay: .6s; }

		.scr-cards__grid.animated & { opacity: 1; transform: translateY(0); }
	}
	.card__pic.brok { opacity: 0; transform: translateX(50%); transition: opacity .5s, transform .5s;
		&.vladimir { transition-delay: .2s; }
		&.natali { transition-delay: .4s; }
		&.yula { transition-delay: .6s; }
		&.olesya { transition-delay: .8s; }

		.card.animated & { opacity: 1; transform: translateX(-50%); }
	}
}

@media @mobile {
	.card { width: 540px; }
	.card__front { height: 460px; padding: 30px; }
	.card__pic {
		&.wine { right: -70%; }
		&.brok { transform: translateX(-50%) scale(.6); transform-origin: center bottom; }
	}
}
































