/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Screen Boss

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.scr-boss { position: relative; background: @color-black; color: #fff; padding: 8.3vw 0; }
.scr-boss__in { position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; }

@media @mobile {
	.scr-boss { padding: 100px 30px 130px;
		.scr-main__flag { display: none; }
	}
}


/* ==========================================================================
   Content
   ========================================================================== */

.scr-boss__center { text-align: center; display: inline-block; margin: 0 0 1em 39.3%; font-size: 3rem; line-height: 1;
	img { width: 11.6rem; margin: 0 0 1rem; }
}

.scr-boss__right { float: right; }

.scr-boss__quote { position: relative;
	&:before, &:after { content: ''; width: 1.6rem; height: 1.8rem; position: absolute; background: url('@{path-images}/quote.svg') no-repeat 50% 50%; background-size: cover; transform: translateY(-50%); }
	&:before { right: 100%; top: .6em; margin-right: 1em; }
	&:after { right: 29%; top: 100%; transform: translateY(-75%) scale(-1,1); }
}

.scr-boss__foot { .clearfix(); margin: 3rem 0 0 -9.7rem; }
.scr-boss__foot__name { float: left; min-width: 8rem; font-family: @font-addl; font-size: 1.5rem; line-height: 1; letter-spacing: .08em; padding: .15em 0 0; }
.scr-boss__foot__txt { float: left; color: @color-txt-grey; font-size: 1.2rem; padding: 0 0 0 1.7rem; border-left: solid 1px fade(#fff, 20%); }


@media @mobile {
	.scr-boss__center { margin-left: 0; font-size: 2rem; display: block; }
	.scr-boss__right { float: none; }
	.scr-boss__foot { margin-top: 120px; margin-left: 50%; position: relative; left: 20px; }
	.scr-boss__foot__name,
	.scr-boss__foot__txt { float: none; }
	.scr-boss__foot__name { margin: 0 0 .5em; }
	.scr-boss__foot__txt { padding: 0; border: none; }
}


/* ==========================================================================
   Pictures
   ========================================================================== */

.scr-boss__signa { display: block; max-width: 33%; position: absolute; left: 20%; top: 93.3%; transform: translateY(-50%); }

.scr-boss__house { display: block; position: absolute; left: 87.5%; bottom: -1.7vw; width: 21.5%; transform: translateX(-50%); }

.scr-boss__photo { display: block; width: 42%; position: absolute; left: 25.6%; top: 59%; transform: translate(-50%,-50%); }


@media @mobile {
	.scr-boss__house { display: none; }
	.scr-boss__photo { width: 55%; left: 0; top: auto; bottom: 0; transform: none; }
	.scr-boss__signa { max-width: none; width: 50%; top: auto; bottom: -10px; transform: none; }
}


/* ==========================================================================
   Animation
   ========================================================================== */

@media @desktop {
	.scr-boss {
		.scr-main__flag { transform: translateX(-50%); opacity: 1; }
	}

	.scr-boss__photo,
	.scr-boss__center,
	.scr-boss__quote,
	.scr-boss__foot { opacity: 0; transition: opacity .5s, transform .5s;
		.scr-boss.animated & { opacity: 1; }
	}

	.scr-boss__photo { transform: translate(-150%,-50%); }

	.scr-boss__center,
	.scr-boss__quote,
	.scr-boss__foot { transform: translateY(-100%); }
	.scr-boss__center { transition-delay: .3s; }
	.scr-boss__quote { transition-delay: .6s; }
	.scr-boss__foot { transition-delay: .9s; }

	.scr-boss.animated {
		.scr-boss__photo { transform: translate(-50%,-50%); }
		.scr-boss__center,
		.scr-boss__quote,
		.scr-boss__foot { transform: translateY(0); }
	}
}
































