/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Screen Hypothec

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.scr-hypothec { position: relative; padding: 16vh 0; }

@media @mobile {
	.scr-hypothec { padding: 140px 0 100px; }
}


/* ==========================================================================
   Box
   ========================================================================== */

.hypothec { border: solid 1px @color-border; .clearfix(); position: relative; }
.hypothec__left,
.hypothec__right { float: left; width: 50%; height: 40rem; }


@media @mobile {
	.hypothec { border: none; }
	.hypothec__left,
	.hypothec__right { float: none; width: auto; height: auto; }
}


/* ==========================================================================
   Flag
   ========================================================================== */

.hypothec__flag { display: block; width: 7.8%; position: absolute; left: 36.5%; top: -1rem;
	img { display: block; width: 100%; }
	.hint { left: 100%; top: 2rem; margin-left: 1rem; }
	&:hover {
		.hint { opacity: 1; transform: translateY(0); }
	}
}

@media @mobile {
	.hypothec__flag { display: none; }
}


/* ==========================================================================
   Left Column
   ========================================================================== */

.hypothec__left { padding: 2vw 4vw 4vw; .flex(); .flex-direction(column); .justify-content(space-between); .align-items(flex-start);
	>div { width:  100%; }
	.sct-title { margin-bottom: 0; }
	.btn { min-width: 15vw; }
}


@media @mobile {
	.hypothec__left { padding: 0;
		.btn { width: 100%; margin: 50px 0 0; }
	}
}


/* ==========================================================================
   Range Slider
   ========================================================================== */

.hypothec__choose { margin: 1.5rem 0 0; }
.hypothec__choose__lbl { color: @color-txt-grey; font-size: 1.2rem; line-height: normal; margin: 0 0 .5em; }
.hypothec__choose__val { .flex(); .align-items(center); .justify-content(space-between); margin: 0 0 .25rem; }
.hypothec__choose__val-main { color: @color-text-2; font-weight: 800; font-size: 1.5rem; line-height: 1; }
.hypothec__choose__val-addl { color: @color-txt-grey; font-size: 1.2rem; line-height: normal;
	&.error { color: @color-red; }
}

.hypothec__range { }

.irs-min,
.irs-max,
.irs-single { display: none; }
.irs--flat { height: 30px; }
.irs--flat .irs-line,
.irs--flat .irs-bar { height: 4px; top: 13px; border-radius: 1px; }
.irs--flat .irs-line {  background: #d7d7d7;}
.irs--flat .irs-bar { background: @color-blue; }
.irs--flat .irs-handle { top: 0; width: 30px; height: 30px; background: #fff; border-radius: 50%; box-shadow: 0 0 10px fade(#777,20%);
	i { display: none !important; }
}


@media @mobile {
	.hypothec__choose__lbl,
	.hypothec__choose__val-addl { font-size: 1.5rem; }
	.hypothec__choose__val-main { font-size: 2rem; }
}


/* ==========================================================================
   Right Column
   ========================================================================== */

.hypothec__right { overflow: auto; background: @color-grey; padding: 3vw; }
.hypothec__right__caption { color: @color-text-2; font-size: 1.5rem; line-height: normal; margin: 0 0 2rem;
	b { font-weight: 800; }
}


@media @mobile {
	.hypothec__right { margin: 60px -30px 0; padding: 30px; overflow: visible; }
}


/* ==========================================================================
   Bank Card
   ========================================================================== */

.bank-cards { .flex(); .flex-direction(column); }

.bank-card { border: solid 1px #fff; border-radius: .6rem; background: #fff; margin: 0 0 1.5rem; padding: 1.5vw 2vw 2vw;
	&.is-disabled { background: none; border-color: @color-border; pointer-events: none; .order(999);
		>div { opacity: .6; }
	}
}
.bank-card__head { .flex(); .justify-content(space-between); .align-items(center); margin: 0 0 2vw; }
.bank-card__logo { display: block; height: 2.4rem; }

.bank-card__percent,
.bank-card__info { display: inline-block; vertical-align: middle; }
.bank-card__percent,
.bank-card__info__i { line-height: 1.5rem; border-radius: .75rem; color: @color-blue; font-size: 1rem; }
.bank-card__percent { padding: 0 .5em; background: @color-grey; }
.bank-card__info { position: relative; margin: 0 0 0 .75rem; }
.bank-card__info__i { display: block; position: relative; height: 1.5rem; width: 1.5rem; text-align: center; cursor: pointer;
	&:before { content: ''; display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; border-radius: .75rem; border: solid 2px @color-border; }
}

.hint { background: fade(@color-text-2, 80%); color: #fff; text-align: left; border-radius: .25rem; padding: 1.5em; width: 18vw; font-size: .8rem; line-height: normal; position: absolute; right: 0; top: 150%; pointer-events: none; opacity: 0; transform: translateY(-15%); transition: all .3s;
	.bank-card__info:hover & { opacity: 1; transform: translateY(0); }
}

.bank-card__params { .flex(); .justify-content(space-between); }
.bank-card__param { color: @color-text-2;
	&:first-child { width: 44.6%; }
}
.bank-card__param__lbl { font-size: .8rem; line-height: normal; white-space: nowrap; }
.bank-card__param__val { font-size: 1.2rem; line-height: 1; font-weight: 800; white-space: nowrap; }


@media @mobile {
	.bank-card { padding: 30px 30px 15px; }
	.bank-card__head { margin-bottom: 30px; }
	.bank-card__logo { height: 2rem; }
	.bank-card__params { .flex-wrap(wrap); }
	.bank-card__param { margin: 0 0 20px; }
	.bank-card__param__lbl { font-size: 1.2rem; }
	.bank-card__param__val { font-size: 1.5rem; }

	.hint { width: 300px; }
}


/* ==========================================================================
   Scrollbar
   ========================================================================== */

.simplebar-scrollbar:before { background: fade(#000, 50%); }






























