/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Screen Brokers

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.scr-brok { position: relative; padding: 16vh 0; text-align: center; }

@media @mobile {
	.scr-brok { padding: 100px 0; }
}


/* ==========================================================================
   Broker Card
   ========================================================================== */

.broker { width: 36.5vw; min-height: 18.2vw; background: #fff; .flex(); .align-items(stretch); text-align: left; }
.broker__photo { width: 50%; background-position: 50% 0 !important; }
.broker__cont { width: 50%; padding: 1vw 1.5vw; .flex(); .flex-direction(column); .justify-content(space-between); .align-items(flex-start); }
.broker__name { font-weight: 800; font-size: 1.5rem; line-height: normal; }
.broker__status { color: @color-txt-grey; font-size: 1rem; line-height: 1; }
.broker__about { font-size: 1rem; line-height: 1.25; margin: 0 0 .75em;
	b { font-weight: 800; }
}

.brokers { .flex(); .justify-content(space-between); .flex-wrap(wrap); .align-items(stretch);
	.broker,
	.propose-card { width: 36.5vw; margin: 0 0 2vw; }
}


@media @mobile {
	.broker__photo { width: 40%; }
	.broker__cont { width: 60%; padding: 15px 15px 15px 20px; min-height: 380px; }

	.brokers { display: block;
		.broker,
		.propose-card { width: auto; margin: 0 0 30px; }
	}
}


/* ==========================================================================
   Propose Card
   ========================================================================== */

.propose-card { padding: 1vw; text-align: center; border: solid 2px @color-border; .flex(); .flex-direction(column); .justify-content(center); .align-items(center); }
.propose-card__txt { font-size: 1.2rem; line-height: 1.2; margin: 0 0 1.5em; max-width: 26vw;
	b { font-weight: 800; }
}
.propose-card__btn { position: relative; }
.propose-card__people { display: block; height: 5.4rem; position: absolute; right: 100%; top: 50%; transform: translate(-30%,-60%); }


@media @desktop {
	.propose-card__people { opacity: 0; transform: translate(-130%, -60%); transition: opacity .5s, transform .5s;
		&.animated { opacity: 1; transform: translate(-30%,-60%); }
	}
}

@media @mobile {
	.propose-card { padding: 30px; display: block; }
	.propose-card__txt { max-width: none; }
}






























