/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Screen History

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.scr-history { position: relative; padding: 16vh 0; }

@media @mobile {
	.scr-history { padding: 100px 0; }
}


/* ==========================================================================
   Illustration
   ========================================================================== */

.scr-history__pic { position: relative; margin: 0 0 3vw;
	img { display: block; width: 100%; opacity: .8;
		&.people { opacity: 1; width: auto; height: 17%; position: absolute; left: 58%; top: 73%; transform: translate(-50%,-50%); }
	}
}

@media @mobile {
	.scr-history__pic { margin-bottom: 30px; }
}


/* ==========================================================================
   Text
   ========================================================================== */

.scr-history__grid { .flex(); .justify-content(space-between); }
.scr-history__grid__left { width: 55%; }
.scr-history__grid__right { width: 39%; }

.scr-history__title { font-size: 1.5rem; line-height: 1; font-weight: 800; margin: 0 0 1em; }
.scr-history__txt { font-size: 1.2rem; line-height: 1.25;
	p { margin: 0 0 1em; }
}


@media @mobile {
	.scr-history__grid { display: block; }
	.scr-history__grid__left,
	.scr-history__grid__right { width: auto; }
}






























