/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Success page

   ==========================================================================
   ==========================================================================
   ========================================================================== */

.scr-success { position: relative; min-height: 100vh; overflow: auto; background: url('@{path-images}/est-landscape.svg') no-repeat 50% 50%; background-size: 200% auto; .flex(); .align-items(center); .justify-content(center);
	&:before { content: ''; display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: fade(#fff, 80%); }

	.modal__box { transition: none; transform: translateY(0); }
	.modal-card {
		.sct-title { margin-bottom: .5em; }
	}
}


@media @mobile {
	.scr-success { background: none; display: block; padding: 100px 0 50px;
		&:before { display: none; }

		.modal__box,
		.modal-card { background: none; }

		.modal-card__flag,
		.modal-card__pic { display: none; }
	}
}


/* ==========================================================================
   Content
   ========================================================================== */

.modal-card__flag { position: absolute; top: 1rem; right: 4rem; display: block; width: 3rem; opacity: .8; }
.modal-card__pic { display: block; height: 19.3rem; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); }
















































