<img class="txt-box__people" src="_asset/img/p-blue-hair.svg" alt=""/>
<div class="txt-box__title">
	Жуковка Академическая сегодня
</div>
<div class="typical-txt">
	<p>
		Стародачный посёлок, который активно заселяется с&nbsp;1935&nbsp;года. На территории 50&nbsp;домов от&nbsp;450 до&nbsp;1500&nbsp;м² в современном и классическом стиле с участками от&nbsp;15 до&nbsp;50 соток. Название посёлка связано с академиками, которые жили здесь в разные времена: Харитон и Зельдович, Флеров и Долежаль, Сахаров, Тамм, Келдыш.

</div>
