<img class="txt-box__people" src="_asset/img/p-blond-backpack.svg" alt=""/>
<div class="txt-box__title">
	Ильинские дачи сегодня
</div>
<div class="typical-txt">
	<p>
		Охраняемый посёлок, построенный в 1950&nbsp;году, на 30&nbsp;участков от&nbsp;20 до&nbsp;38&nbsp;соток в окружении 11&nbsp;гектаров соснового леса и набережной Москвы-реки. Строительство проекта началось ещё в 1980&nbsp;году, в то время основным населением была партийная элита. На территории собственный английский клуб, ресторан, спортивная площадка, места для отдыха, детский и игровой клубы.
</div>
