<img class="txt-box__people" src="_asset/img/p-glass.svg" alt=""/>
<div class="txt-box__title">
	Ильинское поле сегодня
</div>
<div class="typical-txt">
	<p>
		Камерный посёлок, который активно заселяется с&nbsp;2007&nbsp;года. Проект с резиденциями от&nbsp;1000 до&nbsp;6000&nbsp;м<sup>2</sup> и участками от&nbsp;50&nbsp;соток. Охраняемая территория поселка имеет ограждение по периметру и КПП на въезде. Проект рядом с Подушкинским лесопарком, живописной набережной и ландшафтными парками.
</div>
