<img class="txt-box__people" src="_asset/img/p-girl-skate.svg" alt=""/>
<div class="txt-box__title">
	Конус сегодня
</div>
<div class="typical-txt">
	<p>
		Коттеджный посёлок, основанный в&nbsp;2002&nbsp;году, на&nbsp;22&nbsp;домовладения от&nbsp;500 до&nbsp;1000&nbsp;м² с отделкой и без в окружении лесопарковой зоны площадью 26&nbsp;гектаров. Доступны участки от&nbsp;20 до&nbsp;50&nbsp;соток. На огороженной территории благоустроенные прогулочные зоны, теннисные корты, футбольное поле, детские площадки и английская школа.
</div>
