<img class="txt-box__people" src="_asset/img/p-girlfriends.svg" alt=""/>
<div class="txt-box__title">
	Ландшафт сегодня
</div>
<div class="typical-txt">
	<p>
		Коттеджный посёлок deluxe класса, основанный в&nbsp;2002&nbsp;году, на&nbsp;300&nbsp;домовладений от&nbsp;380 до&nbsp;2600&nbsp;м² с участками от&nbsp;25&nbsp;соток. На территории прогулочные аллеи и благоустроенные места для отдыха у озера.
</div>
