<img class="txt-box__people" src="_asset/img/p-girlfriends.svg" alt=""/>
<div class="txt-box__title">
	ParkVille сегодня
</div>
<div class="typical-txt">
	<p>
		Загородный посёлок deluxe класса, основанный в&nbsp;2006&nbsp;году, на&nbsp;57&nbsp;коттеджей в английском классическом и современном стиле. Земельные участки от&nbsp;35 до&nbsp;100&nbsp;соток. На территории 40&nbsp;гектаров собственный ландшафтный парк, высажены аллеи, установлены фонтаны и сделаны прогулочные дорожки.
</div>
