<img class="txt-box__people" src="_asset/img/p-couple.svg" alt=""/>
<div class="txt-box__title">
	Царское село сегодня
</div>
<div class="typical-txt">
	<p>
		Коттеджный посёлок площадью 9&nbsp;гектаров на&nbsp;86&nbsp;особняков от&nbsp;260 до&nbsp;370&nbsp;м². Проект, основанный в&nbsp;2002&nbsp;году, с местами для отдыха, прогулочными аллеями и клумбами. В непосредственной близости фитнес-центр с бассейном, сауной, тренажёрным залом, бильярдным клубом, оборудованными игровыми и спортивными площадками.
</div>
