<img class="txt-box__people" src="_asset/img/p-bicycle-inverse.svg" alt=""/>
<div class="txt-box__title">
	Жуковка Шале сегодня
</div>
<div class="typical-txt">
	<p>
		5-этажный клубный дом в стиле шале от итальянского архитектора Джулиано Моретти. В доме 30&nbsp;квартир от&nbsp;97 до&nbsp;280&nbsp;м² с высокими потолками до&nbsp;3,6&nbsp;метров. Большинство квартир имеют выход на террасу, есть возможность установки камина. На территории фитнес-центры, теннисные корты, салон красоты, собственный бассейн, сауна и лучшие рестораны.
	</p>
</div>
