<img class="txt-box__people" src="_asset/img/p-clatch.svg" alt=""/>
<div class="txt-box__title">
	Жуковка №1 сегодня
</div>
<div class="typical-txt">
	<p>
		Жилой комплекс, основанный в 1949 году, на 37 апартаментов и 2-уровневых пентхаусов от 100 до 500 м². Панорамное остекление, просторные комнаты и свободные планировки. Проект в окружении хвойного леса с благоустроенными местами для отдыха с беседками и лавочками, детской площадкой и цветниками.
	</p>
	<p>
		<b>Историческая справка</b><br/>
		В ХХ веке здесь жила и работала над своей книгой «Двадцать писем к другу» дочь И.В. Сталина и Н.С. Аллилуевой — Светлана Иосифовна Аллилуева.
		Светлана Аллилуева с теплым чувством рассказывает об этих местах:
		«Я хочу вернуться назад, к солнечным детским годам, к тому времени, которое для нас, детей, безоблачно текло в рамках жизни, организованной и созданной мамой. Это были сказочные годы. Они прошли где-то здесь рядом, в этой окрестности, — ты понимаешь теперь, почему я не могу никак оторваться от этой самой Жуковки, где я сижу сейчас в лесу и пишу?»
		На даче Светлану Аллилуеву посещал ее брат генерал-полковник авиации Василий Иосифович Сталин, здесь росли ее дети — сын Иосиф и дочь Екатерина. В 1954–1985 годах в этом месте проживал ученый-металлург, министр высшего и среднего специального образования СССР Вячеслав Петрович Елютин. Часто сюда приезжал народный артист СССР композитор Родион Щедрин, народные артисты СССР Муслим Магомаев и Тамара Синявская. Сегодня в комплексе проживает П.А. Астахов — уполномоченный при Президенте РФ по правам ребенка.
	</p>
</div>
