<img class="txt-box__people" src="_asset/img/p-man-sweater.svg" alt=""/>
<div class="txt-box__title">
	Жуковка-4 сегодня
</div>
<div class="typical-txt">
	<p>
		Посёлок в окружении хвойного леса и ландшафтных парков. На территории 30&nbsp;домов от&nbsp;400 до 2950&nbsp;м<sup>2</sup> по индивидуальным архитектурным проектам с панорамными окнами в пол и зимним садом. Доступны участки от&nbsp;30 до&nbsp;150&nbsp;соток.
	</p>
</div>
