<img class="txt-box__people" src="_asset/img/p-woman-phone.svg" alt=""/>
<div class="txt-box__title">
	Жуковка-3 сегодня
</div>
<div class="typical-txt">
	<p>
		Посёлок, основанный в 1999 году, на 80 домов от 250 до 1500 м² с придомовыми участками от 10 соток в окружении реликтового леса. В шаговой доступности бутики, рестораны, фитнес-клубы, SPA-центры, салоны красоты, комплексы «Barviha Luxury Village» и «Dream House».<br/>
		В ХХ веке здесь жила великая балерина Г.С. Уланова. Ей нравилась здравница «Сосны» с близкой рекой и заречными далями, но и Жуковка-3 привлекала народную артистку своим большим лесным массивом, уводящим к самому Одинцову.
	</p>
</div>
