<img class="txt-box__people" src="_asset/img/p-stairs.svg" alt=""/>
<div class="txt-box__title">
	Жуковка сегодня
</div>
<div class="typical-txt">
	<p>
		Элитная деревня Жуковка расположилась всего в 9 км от МКАД в Одинцовском районе. Чтобы добраться до собственного коттеджа, можно воспользоваться скоростным Рублево-Успенским шоссе. Площадь поселка достаточно большая – 640 га.<br/>
		Внутри поселка находится огромное количество загородных особняков, площадь которых варьируется от 200 до 2000 кв. метров.<br/>
		Каждый дом отличается индивидуальным архитектурным стилем и поражает своими размерами. Многоэтажные сооружения имеют просторные балконы и выполнены с применением современных стройматериалов натурального происхождения. Деревня Жуковка находится на берегу известной Москвы-реки. Здесь высажены высокие березы и красивые сосны.
	</p>
</div>
