<img class="txt-box__people" src="_asset/img/p-running-couple.svg" alt=""/>
<div class="txt-box__title">
	Жуковка-2 сегодня
</div>
<div class="typical-txt">
	<p>
		Клубный посёлок премиум-класса в классическом стиле на 43 резиденции от 300 до 2000 м² и участки от 15 до 200 соток на закрытой охраняемой территории 30 гектаров. В посёлке открыта частная гимназия «Жуковка». Проект славится своим физкультурно-оздоровительным комплексом с теннисными кортами, бассейном, сауной, салоном красоты, тренажёрным залом, футбольным полем и хоккейной площадкой. Сегодня в посёлке находится руководство и все службы федерального государственного унитарного предприятия «Рублево-Успенский лечебно-оздоровительный комплекс».
	</p>
	<p>
		<b>Историческая справка</b><br/>
		В Жуковке-2 с 1963 года жил в двухэтажном деревянном домике Вячеслав Михайлович Молотов - выдающийся государственный и политический деятель советской эпохи. Также здесь в 1980-х годах проживал трижды Герой Советского Союза маршал авиации Александр Иванович Покрышкин.
	</p>
</div>
