<img class="txt-box__people" src="_asset/img/p-hand-dog.svg" alt=""/>
<div class="txt-box__title">
	Жуковка-21 сегодня
</div>
<div class="typical-txt">
	<p>
		Коттеджный посёлок класса Deluxe, построенный в 2008&nbsp;году, на 51&nbsp;виллу от&nbsp;680 до&nbsp;3300&nbsp;м<sup>2</sup> по индивидуальным проектам в классическом стиле и участки от&nbsp;50 до&nbsp;52&nbsp;соток. На первых этажах особняков есть собственный выход к набережной Москвы-реки. На закрытой территории посёлка комплекс «PRIDE Wellness CLUB», SPA-центр с бассейном и фитнес-залом, ресторан и салоны красоты.
	</p>
</div>
