<div class="card">
	<div class="card__front">
		<img class="card__pic spa" src="_asset/img/card-spa.png" alt=""/>
		<div class="card__title">
			Оздоровительный
			комплекс
		</div>
		<div class="typical-txt">
			В комплексе есть различные
			спортивные площадки и салоны красоты.
		</div>
	</div><!--.card__front-->

	<div class="card__hover">
		<div class="typical-txt">
			<p>Светлана Аллилуева с теплым чувством рассказывает об этих местах:</p>
			<p>На даче Светлану Аллилуеву посещал ее брат генерал-полковник авиации Василий Иосифович Сталин, здесь росли ее дети — сын Иосиф и дочь Екатерина.</p>
		</div>
	</div><!--.card__hover-->
</div><!--.card-->