<div class="card">
	<div class="card__front">
		<img class="card__pic infra" src="_asset/img/card-infra.png" alt=""/>
		<div class="card__title">
			Развитая
			инфраструктура
		</div>
		<div class="typical-txt">
			Рестораны, бары, теннисный корт и фитнес-центр, магазины.
		</div>
	</div><!--.card__front-->

	<div class="card__hover">
		<div class="typical-txt">
			<p>Светлана Аллилуева с теплым чувством рассказывает об этих местах:</p>
			<p>На даче Светлану Аллилуеву посещал ее брат генерал-полковник авиации Василий Иосифович Сталин, здесь росли ее дети — сын Иосиф и дочь Екатерина.</p>
		</div>
	</div><!--.card__hover-->
</div><!--.card-->