<div class="card">
	<div class="card__front">
		<img class="card__pic map" src="_asset/img/card-map.png" alt=""/>
		<div class="card__title">
			Жуковка-4<br/>
			в 9 км от МКАД
		</div>
		<div class="typical-txt">
			До посёлка можно доехать
			по Рублёво-Успенскому шоссе.
		</div>
	</div><!--.card__front-->

	<div class="card__hover">
		<div class="typical-txt">
			<p>Светлана Аллилуева с теплым чувством рассказывает об этих местах:</p>
			<p>На даче Светлану Аллилуеву посещал ее брат генерал-полковник авиации Василий Иосифович Сталин, здесь росли ее дети — сын Иосиф и дочь Екатерина.</p>
		</div>
	</div><!--.card__hover-->
</div><!--.card-->