<div class="card">
	<div class="card__front">
		<img class="card__pic panorama" src="_asset/img/card-panorama.png" alt=""/>
		<div class="card__title">
			Панорамное
			остекление
		</div>
		<div class="typical-txt">
			Большие и светлые квартиры.
		</div>
	</div><!--.card__front-->

	<div class="card__hover">
		<div class="typical-txt">
			<p>Светлана Аллилуева с теплым чувством рассказывает об этих местах:</p>
			<p>На даче Светлану Аллилуеву посещал ее брат генерал-полковник авиации Василий Иосифович Сталин, здесь росли ее дети — сын Иосиф и дочь Екатерина.</p>
		</div>
	</div><!--.card__hover-->
</div><!--.card-->