<div class="card">
	<div class="card__front bottom">
		<img class="card__pic parking" src="_asset/img/card-parking.png" alt=""/>
		<div class="card__title">
			Подземный паркинг
		</div>
		<div class="typical-txt">
			На цокольном этаже расположена
			удобная парковка.
		</div>
	</div><!--.card__front-->

	<div class="card__hover">
		<div class="typical-txt">
			<p>Светлана Аллилуева с теплым чувством рассказывает об этих местах:</p>
			<p>На даче Светлану Аллилуеву посещал ее брат генерал-полковник авиации Василий Иосифович Сталин, здесь росли ее дети — сын Иосиф и дочь Екатерина.</p>
		</div>
	</div><!--.card__hover-->
</div><!--.card-->