<div class="card">
	<div class="card__front">
		<img class="card__pic park" src="_asset/img/card-park.png" alt=""/>
		<div class="card__title">
			Парковая зона
		</div>
		<div class="typical-txt">
			Проект в окружении хвойного
			леса с благоустроенными местами
			для отдыха.
		</div>
	</div><!--.card__front-->

	<div class="card__hover">
		<div class="typical-txt">
			<p>Светлана Аллилуева с теплым чувством рассказывает об этих местах:</p>
			<p>На даче Светлану Аллилуеву посещал ее брат генерал-полковник авиации Василий Иосифович Сталин, здесь росли ее дети — сын Иосиф и дочь Екатерина.</p>
		</div>
	</div><!--.card__hover-->
</div><!--.card-->