<div class="card">
	<div class="card__front">
		<img class="card__pic river" src="_asset/img/card-river.png" alt=""/>
		<div class="card__title">
			На берегу<br/>
			Москвы-реки
		</div>
		<div class="typical-txt">
			Здесь высажены высокие березы и красивые сосны.
		</div>
	</div><!--.card__front-->

	<div class="card__hover">
		<div class="typical-txt">
			<p>Светлана Аллилуева с теплым чувством рассказывает об этих местах:</p>
			<p>На даче Светлану Аллилуеву посещал ее брат генерал-полковник авиации Василий Иосифович Сталин, здесь росли ее дети — сын Иосиф и дочь Екатерина.</p>
		</div>
	</div><!--.card__hover-->
</div><!--.card-->