<div class="card">
	<div class="card__front">
		<img class="card__pic zhucard" src="_asset/img/card-zhucard.png" alt=""/>
		<div class="card__title">
			Cashback 2%
		</div>
		<div class="typical-txt">
			Деньги от покупки элитной<br/>
			недвижимости вернутся.
		</div>

		<div class="beetle">
			<img src="_asset/img/beetle/Beetle_00001-min.png" alt=""/>
		</div><!--.beetle-->
	</div><!--.card__front-->

	<div class="card__hover">
		<div class="typical-txt">
			<p>Светлана Аллилуева с теплым чувством рассказывает об этих местах:</p>
			<p>На даче Светлану Аллилуеву посещал ее брат генерал-полковник авиации Василий Иосифович Сталин, здесь росли ее дети — сын Иосиф и дочь Екатерина.</p>
		</div>
	</div><!--.card__hover-->
</div><!--.card-->