/* ==========================================================================
/* ==========================================================================
/* ==========================================================================

   Fonts

   ==========================================================================
   ==========================================================================
   ========================================================================== */


/* ==========================================================================
   Futura
   ========================================================================== */

@font-face {
   font-family: 'Futura';
   src: url('../fonts/FuturaDemiC.eot');
   src: url('../fonts/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
   url('../fonts/FuturaDemiC.woff') format('woff'),
   url('../fonts/FuturaDemiC.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Futura';
   src: url('../fonts/FuturaMediumC.eot');
   src: url('../fonts/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
   url('../fonts/FuturaMediumC.woff') format('woff'),
   url('../fonts/FuturaMediumC.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Futura';
   src: url('../fonts/FuturaLightC-Italic.eot');
   src: url('../fonts/FuturaLightC-Italic.eot?#iefix') format('embedded-opentype'),
   url('../fonts/FuturaLightC-Italic.woff') format('woff'),
   url('../fonts/FuturaLightC-Italic.ttf') format('truetype');
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: 'Futura';
   src: url('../fonts/FuturaMediumC-Italic.eot');
   src: url('../fonts/FuturaMediumC-Italic.eot?#iefix') format('embedded-opentype'),
   url('../fonts/FuturaMediumC-Italic.woff') format('woff'),
   url('../fonts/FuturaMediumC-Italic.ttf') format('truetype');
   font-weight: 500;
   font-style: italic;
}

@font-face {
   font-family: 'Futura';
   src: url('../fonts/FuturaLightC.eot');
   src: url('../fonts/FuturaLightC.eot?#iefix') format('embedded-opentype'),
   url('../fonts/FuturaLightC.woff') format('woff'),
   url('../fonts/FuturaLightC.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Futura';
   src: url('../fonts/FuturaDemiC-Italic.eot');
   src: url('../fonts/FuturaDemiC-Italic.eot?#iefix') format('embedded-opentype'),
   url('../fonts/FuturaDemiC-Italic.woff') format('woff'),
   url('../fonts/FuturaDemiC-Italic.ttf') format('truetype');
   font-weight: 700;
   font-style: italic;
}

@font-face {
   font-family: 'Futura';
   src: url('../fonts/FuturaBookC-Italic.eot');
   src: url('../fonts/FuturaBookC-Italic.eot?#iefix') format('embedded-opentype'),
   url('../fonts/FuturaBookC-Italic.woff') format('woff'),
   url('../fonts/FuturaBookC-Italic.ttf') format('truetype');
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: 'Futura';
   src: url('../fonts/FuturaBookC.eot');
   src: url('../fonts/FuturaBookC.eot?#iefix') format('embedded-opentype'),
   url('../fonts/FuturaBookC.woff') format('woff'),
   url('../fonts/FuturaBookC.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Futura';
   src: url('../fonts/subset-FuturaPT-Heavy.eot');
   src: url('../fonts/subset-FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
   url('../fonts/subset-FuturaPT-Heavy.woff') format('woff'),
   url('../fonts/subset-FuturaPT-Heavy.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
}



/* ==========================================================================
   Bebas Neue
   ========================================================================== */

@font-face {
   font-family: 'Bebas Neue';
   src: url('../fonts/BebasNeueRegular.eot');
   src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
   url('../fonts/BebasNeueRegular.woff') format('woff'),
   url('../fonts/BebasNeueRegular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Bebas Neue';
   src: url('../fonts/BebasNeueBold.eot');
   src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
   url('../fonts/BebasNeueBold.woff') format('woff'),
   url('../fonts/BebasNeueBold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Bebas Neue';
   src: url('../fonts/BebasNeueLight.eot');
   src: url('../fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
   url('../fonts/BebasNeueLight.woff') format('woff'),
   url('../fonts/BebasNeueLight.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Bebas Neue';
   src: url('../fonts/BebasNeue-Thin.eot');
   src: url('../fonts/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
   url('../fonts/BebasNeue-Thin.woff') format('woff'),
   url('../fonts/BebasNeue-Thin.ttf') format('truetype');
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: 'Bebas Neue';
   src: url('../fonts/BebasNeueBook.eot');
   src: url('../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
   url('../fonts/BebasNeueBook.woff') format('woff'),
   url('../fonts/BebasNeueBook.ttf') format('truetype');
   font-weight: 200;
   font-style: normal;
}
















