/* ==========================================================================
   Variables
   ========================================================================== */

// Colors
@color-text: #343235;
@color-text-2: #37444c;
@color-link: #1375f8;
@color-placeholder: #a6a9ab;
@color-border: #d7d7d7;

@color-bg-grey-light: #fafafa;
@color-black: #181818;
@color-grey: #ebebeb;
@color-red: #ee3f22;
@color-blue: #1375f8;
@color-green: #98ca45;
@color-orange: #f7650a;
@color-violet: #7703fc;
@color-pink: #f44699;
@color-aqua: #07b88c;
@color-beige: #ffbc6b;
@color-txt-grey: #a6a9ab;


// Social
@color-vk: #4c6c91;
@color-fb: #3b5998;
@color-yt: #ce1312;
@color-ok: #f68634;
@color-tw: #55acee;

// Fonts
@font-text: 'Futura', sans-serif;
@font-addl: 'Bebas Neue', sans-serif;

// Pathes
@path-images: "../img";
@path-uploads: "../uploads";

// Responsive
@res1600: ~"(min-width: 999px) and (max-width: 1840px)";
@res1440: ~"(min-width: 999px) and (max-width: 1520px)";
@res1280: ~"(min-width: 999px) and (max-width: 1350px)";
@res1024: ~"(min-width: 999px) and (max-width: 1200px)";

@desktop: ~"(min-width: 999px)";
@mobile: ~"(max-width: 998px)";


