@@include('partials/_head.html', {
	"title": "Жуковка",
	"pageScript": ""
})
<body class="p-404">

	<div class="body-wrapper">

		<section class="scr-404">
			<img class="scr-main__river" src="_asset/img/river.svg" alt="">

			<img class="scr-404__logo" src="_asset/img/zhukovka-dark.svg" alt="">
			<img class="scr-404__404" src="_asset/img/404.png" alt="">

			<div class="scr-404__bottom">
				<div class="typical-txt">
					<span class="color-red">Вы не смогли найти нужную страницу?</span><br/>
					Но мы можем вам помочь найти недвижимость<br class="for-desktop"/>
					<b>в Жуковке</b>. Ответьте на 5&nbsp;простых вопросов.
				</div>

				<button type="button" class="btn btn_blue js-modal" data-target="#modal-quiz">
					<span class="btn__in">Подобрать предложение</span>
					<span class="btn__hover">Подобрать предложение</span>
				</button>
			</div><!--.scr-404__bottom-->
		</section><!--.scr-404-->

	</div><!--.body-wrapper-->

	@@include('partials/_modal-quiz.html')

</body>
</html>