@@include('partials/_head.html', {
"title": "Жуковка",
"pageScript": "<script src='_asset/js/pages/estate.js'></script>"
})
<body class="p-estate">

@@include('components/_beetle.html', {})

<div class="body-wrapper">

	@@include('partials/_header.html', {
		"title": "@@title"
	})

	<section class="est-main" id="section-main">
		<div class="container">
			@@include(@@pathMain)
		</div><!--.container-->
	</section><!--.est-main-->

	<section class="est-slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide est-slider__slide">
				<div class="est-slider__card js-bg-cover">
					<img class="js-bg-cover__img" src="https://via.placeholder.com/1000x560/b9b9b9/ffffff" alt=""/>
					<a class="est-slider__link" href="https://via.placeholder.com/1000x560/b9b9b9/ffffff" data-fancybox="gall-estate"></a>
				</div>
			</div>

			<div class="swiper-slide est-slider__slide">
				<div class="est-slider__card js-bg-cover">
					<img class="js-bg-cover__img" src="https://via.placeholder.com/1000x560/c9c9c9/ffffff" alt=""/>
					<a class="est-slider__link video" href="https://vimeo.com/393713606" data-fancybox="gall-estate"></a>
				</div>
			</div>

			<div class="swiper-slide est-slider__slide">
				<div class="est-slider__card js-bg-cover">
					<img class="js-bg-cover__img" src="https://via.placeholder.com/1000x560/b9b9b9/ffffff" alt=""/>
					<a class="est-slider__link" href="https://via.placeholder.com/1000x560/b9b9b9/ffffff" data-fancybox="gall-estate"></a>
				</div>
			</div>

			<div class="swiper-slide est-slider__slide">
				<div class="est-slider__card js-bg-cover">
					<img class="js-bg-cover__img" src="https://via.placeholder.com/1000x560/c9c9c9/ffffff" alt=""/>
					<a class="est-slider__link" href="https://via.placeholder.com/1000x560/c9c9c9/ffffff" data-fancybox="gall-estate"></a>
				</div>
			</div>

			<div class="swiper-slide est-slider__slide">
				<div class="est-slider__card js-bg-cover">
					<img class="js-bg-cover__img" src="https://via.placeholder.com/1000x560/b9b9b9/ffffff" alt=""/>
					<a class="est-slider__link" href="https://via.placeholder.com/1000x560/b9b9b9/ffffff" data-fancybox="gall-estate"></a>
				</div>
			</div>

			<div class="swiper-slide est-slider__slide">
				<div class="est-slider__card js-bg-cover">
					<img class="js-bg-cover__img" src="https://via.placeholder.com/1000x560/c9c9c9/ffffff" alt=""/>
					<a class="est-slider__link" href="https://via.placeholder.com/1000x560/c9c9c9/ffffff" data-fancybox="gall-estate"></a>
				</div>
			</div>
		</div><!--.swiper-wrapper-->

		<button type="button" class="slick-arrow slick-prev"></button>
		<button type="button" class="slick-arrow slick-next"><span>след.</span></button>
	</section><!--.est-slider-->

	<section class="est-about" id="section-about">
		<div class="container">
			<div class="txt-box">
				@@include(@@pathAbout)
			</div><!--.txt-box-->
		</div><!--.container-->
	</section><!--.est-about-->

	<section class="est-cards" id="section-benefits">
		<div class="container">
			<div class="sct-title">
				Ключевые преимущества <span class="color-grey">покупки<br class="for-desktop"/>
				недвижимости в @@where</span>
			</div>
		</div><!--.container-->

		<div class="hot-slider">
			@@include(@@pathCards)
		</div><!--.hot-slider-->

		<div class="est-cards__bottom">
			<div class="typical-txt">
				если вам нужен индвидуальный подход<br/>
				к подборке предложения
			</div>
			<button type="button" class="btn js-modal" data-target="#modal-quiz">
				<span class="btn__in">Подобрать предложение</span>
				<span class="btn__hover">Подобрать предложение</span>
			</button>
		</div><!--.est-cards__bottom-->
	</section><!--.est-cards-->

	<section class="scr-feature">
		<div class="container">
			@@if (context.flat === "true") {
				<img class="scr-feature__icon" src="_asset/img/build.svg" alt=""/>
			}
			@@if (context.shale === true) {
				<img class="scr-feature__icon" src="_asset/img/shale.svg" alt=""/>
			}
			<div class="sct-title">
				Недвижимость в @@where<br class="for-desktop"/>
				<span class="color-grey">имеет ряд индивидуальных особенностей</span>
			</div>

			<div class="features">
				@@include(@@pathFeatures)
			</div><!--.features-->
		</div><!--.container-->
	</section><!--.scr-feature-->

	@@include('sections/_section-hot.html', {
		"page": "estate",
		"where": "@@where"
	})

	@@include('sections/_section-hypothec.html', {
		"flag": true
	})

	@@include('sections/_section-brokers.html', {})

	@@include('partials/_footer.html', {
		"page": "@@page"
	})
</div><!--.body-wrapper-->

@@include('partials/_modal-more.html')

@@include('partials/_modal-quiz.html')

@@include('partials/_modal-order.html')

@@include('partials/_modal-callback.html')

</body>
</html>