@@include('partials/_head.html', {
	"title": "Жуковка",
	"pageScript": ""
})
<body class="p-article">

	<div class="body-wrapper">

		<section class="scr-art">
			<div class="container">
				<div class="scr-art__head">
					<img class="scr-art__head__logo" src="_asset/img/zhukovka-dark.svg" alt=""/>
					<a class="link-border scr-art__head__back" href="/">Вернуться на главную</a>
				</div><!--.scr-art__head-->

				<div class="sct-title">
					Cоглашение об обработке
					персональных данных
				</div>
				<div class="typical-txt">
					<p>Предоставляя свои персональные данные Пользователь даёт согласие на обработку, хранение и использование своих персональных данных на основании ФЗ № 152-ФЗ «О персональных данных» от 27.07.2006 г. в следующих целях:</p>
					<ul>
						<li>Осуществление клиентской поддержки</li>
						<li>Получения Пользователем информации о маркетинговых событиях</li>
						<li>Проведения аудита и прочих внутренних исследований с целью повышения качества предоставляемых услуг.</li>
					</ul>
					<p>Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Пользователя/Покупателя такая как:</p>
					<ul>
						<li>Фамилия, Имя, Отчество</li>
						<li>Дата рождения</li>
						<li>Контактный телефон</li>
						<li>Адрес электронной почты</li>
						<li>Почтовый адрес</li>
					</ul>
					<p>Персональные данные Пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.</p>
					<p>Компания обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев:</p>
					<ul>
						<li>По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленным законодательством РФ</li>
						<li>Стратегическим партнерам, которые работают с Компанией для предоставления продуктов и услуг, или тем из них, которые помогают Компании реализовывать продукты и услуги потребителям. Мы предоставляем третьим лицам минимальный объем персональных данных, необходимый только для оказания требуемой услуги или проведения необходимой транзакции.</li>
					</ul>
					<p>Компания оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила, при условии, что изменения не противоречат действующему законодательству РФ. Изменения условий настоящих правил вступают в силу после их публикации на Сайте.</p>
				</div>
			</div><!--.container-->
		</section><!--.scr-404-->

	</div><!--.body-wrapper-->

	@@include('partials/_modal-quiz.html')

</body>
</html>