@@include('partials/_head.html', {
	"title": "Жуковка",
	"pageScript": "<script src='_asset/js/pages/index.js'></script>"
})
<body class="p-index">

	@@include('components/_beetle.html', {})

	<div class="body-wrapper">
		<section class="scr-main" id="section-main">
			<div class="video-bg">
				<video autoplay loop muted playsinline>
					<source src="_asset/video/bg.mp4" type="video/mp4">
				</video>
			</div>

			<img class="scr-main__river" src="_asset/img/river.svg" alt="">

			<img class="scr-main__title" src="_asset/img/zhukovka.svg" alt=""/>

			<img class="scr-main__flag kalinka" src="_asset/img/flag-kalinka.svg" alt=""/>
			<img class="scr-main__flag awards" src="_asset/img/flag-awards.svg" alt=""/>

			<div class="scr-main__lbls">
				<div class="label-moscow">
					<img src="_asset/img/moscow.svg" alt="">
					<div>
						<b>Официальный<br/>
							представитель</b><br/>
						Девелоперов<br/>
						подмосковья
					</div>
				</div>

				<div class="label-obj">
					<div class="label-obj__num">96</div>
					<div class="label-obj__caption">
						<b>объектов</b><br/>
						загородной<br/>
						элитной<br/>
						недвижимости<br/>
					</div>
				</div>
			</div><!--.scr-main__lbls-->

			<div class="scr-main__cont">
				<div class="scr-main__cont__btns">
					<button type="button" class="btn js-modal" data-target="#modal-quiz">
						<span class="btn__in">Подобрать предложение*</span>
						<span class="btn__hover">Подобрать предложение*</span>
					</button>

					<a class="play-video" href="https://vimeo.com/393713537" data-fancybox>
						<img class="play-video__icon" src="_asset/img/play.svg" alt=""/>
						<span class="play-video__txt"><span>смотреть видео всех<br/>посёлков за 2 минуты</span></span>
					</a>
				</div><!--.scr-main__cont__btns-->

				<div class="typical-txt">
					Мы собрали все актуальные предложения<br class="for-desktop"/>
					из 14 посёлков самого престижного загородного<br class="for-desktop"/>
					района Москвы <b>«Жуковка»</b>.
				</div>

				<div class="scr-main__note">
					*все предложения напрямую от владельцев
				</div>
			</div><!--.scr-main__cont-->

			<div class="scr-main__available">
				<div class="obj-with-num">
					Дом <sup>75</sup>
				</div>
				<div class="obj-with-num">
					Особняк <sup>3</sup>
				</div>
				<div class="obj-with-num">
					Участок <sup>8</sup>
				</div>
				<div class="obj-with-num">
					Квартира <sup>7</sup>
				</div>
				<div class="obj-with-num">
					Таунхаус <sup>3</sup>
				</div>
			</div><!--.scr-main__available-->
		</section><!--.scr-main-->

		<section class="scr-map" id="section-map">
			<div class="scr-map__left">
				<div class="scr-map__txt">
					<div class="typical-txt">
						<b>Современную Жуковку<br class="for-desktop"/>
						дороги связывают со всем<br class="for-desktop"/>
						миром:</b> Рублево-Успенское<br class="for-desktop"/>
						шоссе со столицей;<br class="for-desktop"/>
						Подушкинское и Красногорское<br class="for-desktop"/>
						шоссе — с Минской автострадой;<br class="for-desktop"/>
						Ильинское и Новорижское<br class="for-desktop"/>
						шоссе — с Петербургом<br class="for-desktop"/>
						и странами<br class="for-desktop"/>
						Балтии.
					</div>
				</div><!--.scr-map__txt-->

				<div class="celebrities">
					<div class="celeba">
						<div class="celeba__name">
							Аркадий<br/>
							Ротенберг
						</div>
						<div class="celeba__photo">
							<img src="_asset/img/celeba/rotenberg.jpg" alt=""/>
							<div class="celeba__dot blue"></div>
						</div>
					</div>

					<div class="celeba">
						<div class="celeba__name">
							Борис<br/>
							Ротенберг
						</div>
						<div class="celeba__photo">
							<img src="_asset/img/celeba/rotenberg-boris.jpg" alt=""/>
							<div class="celeba__dot blue"></div>
						</div>
					</div>

					<div class="celeba">
						<div class="celeba__name">
							Стивен<br/>
							Сигал
						</div>
						<div class="celeba__photo">
							<img src="_asset/img/celeba/sigal.jpg" alt=""/>
							<div class="celeba__dot orange"></div>
						</div>
					</div>

					<div class="celeba">
						<div class="celeba__photo">
							<img src="_asset/img/celeba/maslyakov.jpg" alt=""/>
							<div class="celeba__dot violet"></div>
						</div>
						<div class="celeba__name">
							Александр<br/>
							Масляков
						</div>
					</div>

					<div class="celeba">
						<div class="celeba__photo">
							<img src="_asset/img/celeba/kirienko.jpg" alt=""/>
							<div class="celeba__dot pink"></div>
						</div>
						<div class="celeba__name">
							Сергей<br/>
							Кириенко
						</div>
					</div>

					<div class="celeba">
						<div class="celeba__photo">
							<img src="_asset/img/celeba/sechin.jpg" alt=""/>
							<div class="celeba__dot aqua"></div>
						</div>
						<div class="celeba__name">
							Игорь<br/>
							Сечин
						</div>
					</div>
				</div><!--.celebrities-->
			</div><!--.scr-map__left-->

			<div class="scr-map__pins">
				<a href="estate-field.html" class="scr-map__pin pin-1">
					<img class="shadow" src="_asset/img/pin-shadow.png" alt=""/>
					<img src="_asset/img/pin.svg" alt=""/>
					<div class="scr-map__pin__caption">Ильинское поле</div>
				</a>

				<a href="estate-parkville.html" class="scr-map__pin pin-2">
					<img class="shadow" src="_asset/img/pin-shadow.png" alt=""/>
					<img src="_asset/img/pin.svg" alt=""/>
					<div class="scr-map__pin__caption">Parkville</div>
				</a>

				<a href="estate-zhukovka-21.html" class="scr-map__pin pin-3">
					<img class="shadow" src="_asset/img/pin-shadow.png" alt=""/>
					<img src="_asset/img/pin.svg" alt=""/>
					<div class="scr-map__pin__caption">Жуковка-21</div>
				</a>

				<a href="estate-selo.html" class="scr-map__pin pin-4">
					<img class="shadow" src="_asset/img/pin-shadow.png" alt=""/>
					<img src="_asset/img/pin.svg" alt=""/>
					<div class="scr-map__pin__caption">Царское село</div>
				</a>

				<a href="estate-konus.html" class="scr-map__pin pin-5">
					<img class="shadow" src="_asset/img/pin-shadow.png" alt=""/>
					<img src="_asset/img/pin.svg" alt=""/>
					<div class="scr-map__pin__caption">Конус</div>
				</a>

				<a href="estate-dacha.html" class="scr-map__pin pin-6">
					<img class="shadow" src="_asset/img/pin-shadow.png" alt=""/>
					<img src="_asset/img/pin.svg" alt=""/>
					<div class="scr-map__pin__caption">Ильинские дачи</div>
				</a>

				<a href="estate-zhukovka-4.html" class="scr-map__pin pin-7">
					<img class="shadow" src="_asset/img/pin-shadow.png" alt=""/>
					<img src="_asset/img/pin.svg" alt=""/>
					<div class="scr-map__pin__caption">Жуковка-4</div>
				</a>

				<a href="estate-zhukovka.html" class="scr-map__pin pin-8">
					<img class="shadow" src="_asset/img/pin-shadow.png" alt=""/>
					<img src="_asset/img/pin.svg" alt=""/>
					<div class="scr-map__pin__caption">Жуковка</div>
				</a>

				<a href="estate-zhukovka-1.html" class="scr-map__pin pin-9">
					<img class="shadow" src="_asset/img/pin-shadow.png" alt=""/>
					<img src="_asset/img/pin.svg" alt=""/>
					<div class="scr-map__pin__caption">Жуковка-1</div>
				</a>

				<a href="estate-shale.html" class="scr-map__pin pin-10">
					<img class="shadow" src="_asset/img/pin-shadow.png" alt=""/>
					<img src="_asset/img/pin.svg" alt=""/>
					<div class="scr-map__pin__caption">Шале</div>
				</a>

				<a href="estate-dsk.html" class="scr-map__pin pin-11">
					<img class="shadow" src="_asset/img/pin-shadow.png" alt=""/>
					<img src="_asset/img/pin.svg" alt=""/>
					<div class="scr-map__pin__caption">ДСК Лес Жуковка</div>
				</a>

				<a href="estate-zhukovka-2.html" class="scr-map__pin pin-12">
					<img class="shadow" src="_asset/img/pin-shadow.png" alt=""/>
					<img src="_asset/img/pin.svg" alt=""/>
					<div class="scr-map__pin__caption">Жуковка-2</div>
				</a>

				<a href="estate-academy.html" class="scr-map__pin pin-13">
					<img class="shadow" src="_asset/img/pin-shadow.png" alt=""/>
					<img src="_asset/img/pin.svg" alt=""/>
					<div class="scr-map__pin__caption">Академическая</div>
				</a>

				<a href="estate-zhukovka-3.html" class="scr-map__pin pin-14">
					<img class="shadow" src="_asset/img/pin-shadow.png" alt=""/>
					<img src="_asset/img/pin.svg" alt=""/>
					<div class="scr-map__pin__caption">Жуковка-3</div>
				</a>

				<a href="estate-landscape.html" class="scr-map__pin pin-15">
					<img class="shadow" src="_asset/img/pin-shadow.png" alt=""/>
					<img src="_asset/img/pin.svg" alt=""/>
					<div class="scr-map__pin__caption">Ландшафт</div>
				</a>

				<div class="scr-map__dot blue"></div>
				<div class="scr-map__dot violet"></div>
				<div class="scr-map__dot orange"></div>
				<div class="scr-map__dot aqua"></div>
				<div class="scr-map__dot pink"></div>
			</div><!--.scr-map__pins-->

			<ul class="benefit-nums">
				<li class="benefit-num">
					<img class="benefit-num__pic compass" src="_asset/img/compass.svg" alt=""/>
				</li>

				<li class="benefit-num">
					<div class="benefit-num__num">10</div>
					<div class="benefit-num__caption">
						<b>километров<br/>
						до МКАД</b> по<br/>
						рублёво-<br/>
						успенскому<br/>
						шоссе
					</div>
				</li>

				<li class="benefit-num">
					<div class="benefit-num__num">20</div>
					<div class="benefit-num__caption">
						<b>минут дороги<br/>
						до кремля</b> и центра<br/>
						Москвы
					</div>
				</li>

				<li class="benefit-num">
					<img class="benefit-num__pic view" src="_asset/img/benefit-num__view.svg" alt=""/>
					<div class="benefit-num__caption">
						<b>лучшие видовые<br/>
						характеристики</b><br/>
						на москву-реку и<br/>
						подушкинский лесопарк
					</div>
				</li>
			</ul><!--.benefit-nums-->
		</section><!--.scr-map-->

		<div class="beetle main">
			<img src="_asset/img/beetle/Beetle_00001-min.png" alt=""/>
		</div><!--.beetle-->

		<section class="scr-slider">
			<div class="scr-slider__slide">
				<div class="scr-slider__card js-bg-cover">
					<img class="js-bg-cover__img" src="_asset/uploads/scr-slider-1.jpg" alt=""/>
					<div class="scr-slider__caption">
						Ильинское поле
					</div>
					<a class="scr-slider__link" href="_asset/uploads/scr-slider-1-b.jpg" data-fancybox="gall-main"></a>
				</div>
			</div>

			<div class="scr-slider__slide">
				<div class="scr-slider__card js-bg-cover">
					<img class="js-bg-cover__img" src="_asset/uploads/scr-slider-2.jpg" alt=""/>
					<div class="scr-slider__caption">
						Жуковка-2
					</div>
					<a class="scr-slider__link" href="_asset/uploads/scr-slider-2-b.jpg" data-fancybox="gall-main"></a>
				</div>
			</div>

			<div class="scr-slider__slide">
				<div class="scr-slider__card js-bg-cover">
					<img class="js-bg-cover__img" src="_asset/uploads/scr-slider-3.jpg" alt=""/>
					<div class="scr-slider__caption">
						Жуковка XXI
					</div>
					<a class="scr-slider__link" href="_asset/uploads/scr-slider-3-b.jpg" data-fancybox="gall-main"></a>
				</div>
			</div>

			<div class="scr-slider__slide">
				<div class="scr-slider__card js-bg-cover">
					<img class="js-bg-cover__img" src="_asset/uploads/scr-slider-4.jpg" alt=""/>
					<div class="scr-slider__caption">
						Ландшафт
					</div>
					<a class="scr-slider__link" href="_asset/uploads/scr-slider-4-b.jpg" data-fancybox="gall-main"></a>
				</div>
			</div>
		</section><!--.scr-slider-->

		<section class="scr-cat" id="section-catalog">
			<div class="container">
				<div class="scr-cat__head">
					<div class="sct-title">
						Жуковка — сегодня это самая<br class="for-desktop"/>
						богатая «деревня» в мире<br class="for-desktop"/>
						<span class="color-grey">с жильём класса Делюкс, состоящая<br class="for-desktop"/>
					из 14&nbsp;посёлков и 2&nbsp;клубных домов</span>
						<img class="scr-cat__head__people" src="_asset/img/p-woman-bicycle.svg" alt=""/>
					</div>

					<div class="scr-cat__counter">
						<img class="scr-cat__counter__people couple" src="_asset/img/p-couple.svg" alt=""/>
						<img class="scr-cat__counter__people girlfriends" src="_asset/img/p-girlfriends.svg" alt=""/>
						<div class="scr-cat__counter__num">
							1000
						</div>
						<img class="scr-cat__counter__people teen-phone" src="_asset/img/p-teen-phone.svg" alt=""/>
						<img class="scr-cat__counter__people woman-dogs" src="_asset/img/p-woman-dogs.svg" alt=""/>
						<img class="scr-cat__counter__people boy-bicycle" src="_asset/img/p-boy-bicycle.svg" alt=""/>
						<div class="scr-cat__counter__caption">
							человек
						</div>
					</div><!--.scr-cat__counter-->
				</div><!--scr-cat__head-->

				<div class="catalog">
					<div class="catalog__item">
						<img class="catalog__item__logo zhukovka-1" src="_asset/img/logo-zhukovka-1.svg" alt=""/>
						<span class="catalog__item__more">Подробнее</span>
						<img class="catalog__item__people skate" src="_asset/img/p-skate.svg" alt=""/>
						<a class="catalog__item__link" href="estate-zhukovka-1.html"></a>
					</div><!--.catalog__item-->

					<div class="catalog__item">
						<img class="catalog__item__logo zhukovka-21" src="_asset/img/logo-zhukovka-21.svg" alt=""/>
						<span class="catalog__item__more">Подробнее</span>
						<a class="catalog__item__link" href="estate-zhukovka-21.html"></a>
					</div><!--.catalog__item-->

					<div class="catalog__item">
						<img class="catalog__item__logo shale" src="_asset/img/logo-shale.svg" alt=""/>
						<span class="catalog__item__more">Подробнее</span>
						<a class="catalog__item__link" href="estate-shale.html"></a>
					</div><!--.catalog__item-->

					<div class="catalog__item">
						<img class="catalog__item__logo zhukovka-2" src="_asset/img/logo-zhukovka-2.svg" alt=""/>
						<span class="catalog__item__more">Подробнее</span>
						<a class="catalog__item__link" href="estate-zhukovka-2.html"></a>
					</div><!--.catalog__item-->

					<div class="catalog__item">
						<img class="catalog__item__logo zhukovka-3" src="_asset/img/logo-zhukovka-3.svg" alt=""/>
						<span class="catalog__item__more">Подробнее</span>
						<a class="catalog__item__link" href="estate-zhukovka-3.html"></a>
					</div><!--.catalog__item-->

					<div class="catalog__item">
						<img class="catalog__item__logo zhukovka-4" src="_asset/img/logo-zhukovka-4.svg" alt=""/>
						<span class="catalog__item__more">Подробнее</span>
						<img class="catalog__item__people backpack" src="_asset/img/p-backpack.svg" alt=""/>
						<a class="catalog__item__link" href="estate-zhukovka-4.html"></a>
					</div><!--.catalog__item-->

					<div class="catalog__item">
						<img class="catalog__item__logo parkville" src="_asset/img/logo-parkville.svg" alt=""/>
						<span class="catalog__item__more">Подробнее</span>
						<a class="catalog__item__link" href="estate-parkville.html"></a>
					</div><!--.catalog__item-->

					<div class="catalog__item">
						<img class="catalog__item__logo landscape" src="_asset/img/logo-landscape.svg" alt=""/>
						<span class="catalog__item__more">Подробнее</span>
						<img class="catalog__item__people stairs" src="_asset/img/p-stairs.svg" alt=""/>
						<a class="catalog__item__link" href="estate-landscape.html"></a>
					</div><!--.catalog__item-->

					<div class="catalog__item">
						<img class="catalog__item__logo ilin" src="_asset/img/logo-ilin.svg" alt=""/>
						<span class="catalog__item__more">Подробнее</span>
						<a class="catalog__item__link" href="estate-dacha.html"></a>
					</div><!--.catalog__item-->

					<div class="catalog__item">
						<img class="catalog__item__logo selo" src="_asset/img/logo-selo.svg" alt=""/>
						<span class="catalog__item__more">Подробнее</span>
						<img class="catalog__item__people coat" src="_asset/img/p-coat.svg" alt=""/>
						<a class="catalog__item__link" href="estate-selo.html"></a>
					</div><!--.catalog__item-->

					<div class="catalog__item">
						<img class="catalog__item__logo konus" src="_asset/img/logo-konus.svg" alt=""/>
						<span class="catalog__item__more">Подробнее</span>
						<a class="catalog__item__link" href="estate-konus.html"></a>
					</div><!--.catalog__item-->

					<div class="catalog__item">
						<img class="catalog__item__logo academy" src="_asset/img/logo-academy.svg" alt=""/>
						<span class="catalog__item__more">Подробнее</span>
						<img class="catalog__item__people hat" src="_asset/img/p-hat.svg" alt=""/>
						<a class="catalog__item__link" href="estate-academy.html"></a>
					</div><!--.catalog__item-->

					<div class="catalog__item">
						<img class="catalog__item__logo field" src="_asset/img/logo-field.svg" alt=""/>
						<span class="catalog__item__more">Подробнее</span>
						<a class="catalog__item__link" href="estate-field.html"></a>
					</div><!--.catalog__item-->

					<div class="catalog__item">
						<img class="catalog__item__logo odincovo" src="_asset/img/logo-odincovo.svg" alt=""/>
						<span class="catalog__item__more">Подробнее</span>
						<a class="catalog__item__link" href="estate-zhukovka.html"></a>
					</div><!--.catalog__item-->

					<div class="catalog__item">
						<img class="catalog__item__logo dsk" src="_asset/img/logo-dsk.svg" alt=""/>
						<span class="catalog__item__more">Подробнее</span>
						<img class="catalog__item__people coat-2" src="_asset/img/p-coat.svg" alt=""/>
						<a class="catalog__item__link" href="estate-dsk.html"></a>
					</div><!--.catalog__item-->
				</div><!--.catalog-->
			</div><!--.container-->
		</section><!--.scr-cat-->

		@@include('sections/_section-hot.html', {
			"page": "index"
		})

		<section class="scr-feature" id="section-features">
			<div class="container">
				<div class="sct-title">
					Недвижимость в Жуковке <span class="color-grey">имеет ряд<br class="for-desktop"/>
					индивидуальных особенностей</span>
				</div>

				<div class="features">
					<div class="feature">
						<div class="feature__caption">
							Ценовой диапазон
						</div>
						<div class="feature__val">
							от <span>54</span> млн до <span>2</span> млрд ⃏
						</div>
						<div class="typical-txt">
							Жильё на «Рублёвке» из года в год повышается в стоимости каждого предложения. <a class="link-border js-modal" data-target="#modal-quiz" href="#">Выбирайте</a> свой вариант сегодня — вы получаете лучшее предложение по лучшей цене и самых выгодных условиях.
						</div>
					</div><!--.feature-->

					<div class="feature">
						<div class="feature__caption">
							Жилая площадь
						</div>
						<div class="feature__val">
							от <span>107</span> до <span>2&nbsp;600</span>&nbsp;м<sup>2</sup>
						</div>
						<div class="typical-txt">
							В представляемых вариантах очень большие роскошные жилые площади с готовой отделкой, выполненной в разных стилях. Наши брокеры легко подберут решение конректно под вас — просто <a class="link-border js-modal" data-target="#modal-order" href="#">оставьте заявку</a>.
						</div>
					</div><!--.feature-->

					<div class="feature">
						<div class="feature__caption">
							Площадь участков
						</div>
						<div class="feature__val">
							от <span>4</span> до <span>119</span> соток
						</div>
						<div class="typical-txt">
							Участки продаются как отдельно, так и вместе с готовым домом. Можно иметь небольшой сад, а можно поместье размерами в гектар.
						</div>
					</div><!--.feature-->

					<div class="feature">
						<div class="feature__caption">
							Типы предложений
						</div>
						<div class="feature__val">
							<span>96</span> вариантов
						</div>
						<div class="typical-txt">
							Из них 75&nbsp;домов, 3&nbsp;особняка, 8&nbsp;участков, 7&nbsp;квартир, 3&nbsp;таунхауса.
						</div>
					</div><!--.feature-->
				</div><!--.features-->
			</div><!--.container-->
		</section><!--.scr-feature-->

		<section class="scr-infra" id="section-infra">
			<div class="parallax-head">
				<div class="container">
					<div class="scr-infra__col-right">
						<div class="sct-title">
							Инфраструктура

							<div class="beetle">
								<img src="_asset/img/beetle/Beetle_00001-min.png" alt=""/>
							</div><!--.beetle-->
						</div>
					</div>
				</div><!--.container-->
			</div><!--.parallax-head-->

			<div class="container">
				<div class="scr-infra__about">
					<div class="scr-infra__col-left">
						<div class="scr-infra__about__pic">
							<img src="_asset/img/history.svg" alt=""/>
							<img class="people" src="_asset/img/p-cawboy.svg" alt=""/>
						</div>
					</div>

					<div class="scr-infra__col-right">
						<div class="sct-title">
							Жуковка — посёлок с развитой инфраструктурой
						</div>
						<div class="typical-txt">
							<p>Маршал Советского Союза, Георгий Константинович Жуков, несколько раз приезжал в Жуковку. Его влекли сюда и прекрасные места для рыбной ловли, и возможность отдохнуть в расположенных поблизости Центральном военном клиническом санатории «Архангельское» или в санатории «Барвиха».</p>
							<p>В Жуковке была построена дача наркома НКВД H.H. Ежова. В то время появились двухэтажные дачи, Дома культуры и спортивные площадки. Окрестные жители в шутку именовали Жуковку «Грецией», памятуя выражение одного из героев А.П. Чехова: «В Греции всё есть».</p>
						</div>
					</div>
				</div><!--.scr-infra__about-->

				<div class="scr-infra__list">
					<div class="scr-infra__list__head">
						<div class="scr-infra__col-right">
							<div class="scr-infra__list__title">
								Что же сегодня есть в Жуковке:
							</div>
						</div>
					</div><!--.scr-infra__list__head-->

					<div class="clearfix">
						<ul class="scr-infra__list__col">
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-edu.svg" alt=""/>
								Гимназия «Жуковка»
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-kid.svg" alt=""/>
								Детский сад
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-fit.svg" alt=""/>
								Спортзалы
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-tennis.svg" alt=""/>
								Теннисные корты
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-valley.svg" alt=""/>
								Воллейбольная площадка
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-basket.svg" alt=""/>
								Баскетбольная площадка
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-fit.svg" alt=""/>
								Фитнес-зал World Class
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-pull.svg" alt=""/>
								Бассейны
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-skates.svg" alt=""/>
								Зимой заливается каток
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-med.svg" alt=""/>
								Клиника японской косметологии
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-auto.svg" alt=""/>
								Автосервис
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-safe.svg" alt=""/>
								Все посёлки под спец. охраной
							</li>
						</ul>

						<ul class="scr-infra__list__col">
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-edu.svg" alt=""/>
								Школа President
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-edu.svg" alt=""/>
								Russian International School
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-tennis.svg" alt=""/>
								Pride Welness Club (фитнес/теннис)
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-food.svg" alt=""/>
								Ресторан Чайхона №1
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-food.svg" alt=""/>
								Ресторан Причал
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-food.svg" alt=""/>
								Ресторан Березка
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-food.svg" alt=""/>
								Ресторан Царская Охота
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-shop.svg" alt=""/>
								ТРЦ Luxury Village
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-bentley.svg" alt=""/>
								Автосалон Bentley Москва
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-shop.svg" alt=""/>
								ТЦ Dream House
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-med.svg" alt=""/>
								Медцентр MedSwiss
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-med.svg" alt=""/>
								ФГБУ Клинический санаторий Барвиха
							</li>
						</ul>

						<ul class="scr-infra__list__col">
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-med.svg" alt=""/>
								Реабилитационный центр EMC
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-spa.svg" alt=""/>
								Barviha Hotels & SPA
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-church.svg" alt=""/>
								Спасская церковь
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-church.svg" alt=""/>
								Еврейский культурно-религиозный центр
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-med.svg" alt=""/>
								Жуковский фельдшерско-акушерский пункт
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-toy.svg" alt=""/>
								Детские игровые залы и площадки
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-flowers.svg" alt=""/>
								Магазин цветов Цветочка
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-market.svg" alt=""/>
								Супермаркет Глобус Гурмэ
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-market.svg" alt=""/>
								Супермакет Мираторг
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-bank.svg" alt=""/>
								Отделение банка ВТБ
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-bank.svg" alt=""/>
								Отделение Альфа банка
							</li>
							<li class="scr-infra__list__item">
								<img src="_asset/img/list-horse.svg" alt=""/>
								Конно-спортивный клуб
							</li>
						</ul>
					</div>
					<div class="scr-infra__list__more">
						<div class="scr-infra__col-right">
							<img src="_asset/img/infra-more.svg" alt=""/>
						</div>
					</div>
				</div><!--.scr-infra__list-->
			</div><!--.container-->
		</section><!--.scr-infra-->

		<section class="scr-cards" id="section-cards">
			<div class="container">
				<div class="sct-title">
					Сервис и выгоды <span class="color-grey">от покупки недвижимости<br class="for-desktop"/>
					в Жуковке вместе с Kalinka-Realty Group</span>
				</div>

				<div class="scr-cards__grid">
					<div class="card card_wide">
						<div class="card__front">
							<img class="card__pic brok olesya" src="_asset/img/broker-olesya.png" alt=""/>
							<img class="card__pic brok yula" src="_asset/img/broker-yula.png" alt=""/>
							<img class="card__pic brok natali" src="_asset/img/broker-natali.png" alt=""/>
							<img class="card__pic brok vladimir" src="_asset/img/broker-vladimir.png" alt=""/>
							<img class="card__pic brok michael" src="_asset/img/broker-michael.png" alt=""/>

							<div class="card__title">
								Персональный<br/>
								брокер
							</div>
							<div class="typical-txt">
								<p>
									Он будет сопровождать<br/>
									вас от первого звонка до<br/>
									новоселья, а кому-то станет<br/>
									другом на всю жизнь.
								</p>
								<p><a class="link-border js-to" href="#section-brokers">Подробнее</a></p>
							</div>
						</div><!--.card__front-->
						<img class="card__flag" src="_asset/img/flag-kalinka-sm.svg" alt=""/>
					</div><!--.card-->

					<div class="card">
						<div class="card__front">
							<img class="card__pic zhucard" src="_asset/img/card-zhucard.png" alt=""/>
							<div class="card__title">
								Cashback 2%
							</div>
							<div class="typical-txt">
								Деньги от покупки элитной<br/>
								недвижимости вернутся.
							</div>

							<div class="beetle">
								<img src="_asset/img/beetle/Beetle_00001-min.png" alt=""/>
							</div><!--.beetle-->
						</div><!--.card__front-->
						<img class="card__flag" src="_asset/img/flag-kalinka-sm.svg" alt=""/>
					</div><!--.card-->

					<div class="card">
						<img class="card__pic mask" src="_asset/img/card-mask.png" alt=""/>
						<div class="card__front">
							<div class="card__title">
								Абсолютная<br/>
								приватность<br/>
								сделки
							</div>
							<div class="typical-txt">
								Наши клиенты — наши друзья,<br/>
								а своих мы не выдаём.<br/>
								Юридическая кристальность и<br/>
								консультации по всем вопросам.
							</div>
						</div><!--.card__front-->
						<img class="card__flag" src="_asset/img/flag-kalinka-sm.svg" alt=""/>
					</div><!--.card-->

					<div class="card card_wide">
						<div class="card__front">
							<img class="card__pic wine" src="_asset/img/card-wine.png" alt=""/>
							<div class="card__title">
								Помощь при<br/>
								новосельи
							</div>
							<div class="typical-txt">
								Мы можем взять<br/>
								организацию «светского<br/>
								раута» полностью на себя.<br/>
								Вам нужно лишь нам<br/>
								довериться и <a class="link-border js-modal" data-target="#modal-order" href="#">оставить<br/>
								заявку</a>.
							</div>
						</div><!--.card__front-->
						<img class="card__flag" src="_asset/img/flag-kalinka-sm.svg" alt=""/>
					</div><!--.card-->
				</div><!--.scr-cards__grid-->
			</div><!--.container-->
		</section><!--.scr-cards-->

		<section class="scr-boss" id="section-expert">
			<div class="scr-boss__in">
				<img class="scr-main__flag kalinka" src="_asset/img/flag-kalinka.svg" alt=""/>
				<img class="scr-main__flag awards" src="_asset/img/flag-awards.svg" alt=""/>

				<img class="scr-boss__photo" src="_asset/img/ekaterina.jpg" alt=""/>
				<img class="scr-boss__house" src="_asset/img/boss-house.png" alt=""/>
			</div>
			<div class="container">
				<div class="scr-boss__center">
					<img src="_asset/img/zhukovka-beige.svg" alt=""/><br/>
					Экспертность за 20 лет<br class="for-desktop"/>
					позволяет сказать, что на<br class="for-desktop"/>
					сегодня мы предлагаем<br class="for-desktop"/>
					лучшее загородное<br class="for-desktop"/>
					жильё на рынке.
				</div>
				<div class="clearfix"></div>

				<div class="scr-boss__right">
					<div class="scr-boss__quote">
						<div class="typical-txt">
							Жуковка для меня — не просто хороший район<br class="for-desktop"/>
							с выстроенной инфраструктурой и элитной недвижимостью,<br class="for-desktop"/>
							это большое комьюнити владельцев, которое позволяет<br class="for-desktop"/>
							открывать новые горизонты. Ещё <span class="color-beige">Жуковка мой дом</span> —<br class="for-desktop"/>
							место где выросла моя дочь, с уверенностью могу сказать<br class="for-desktop"/>
							что это лучшая «деревушка» на Земле.
						</div>
					</div>

					<div class="scr-boss__foot">
						<div class="scr-boss__foot__name">
							Екатерина<br/>
							Румянцева
						</div>
						<div class="typical-txt scr-boss__foot__txt">
							Основатель и Председатель Совета Директоров<br class="for-desktop"/>
							«Kalinka Group» /  25 лет личной экспертизы<br class="for-desktop"/>
							в сфере недвижимости по всему миру
						</div>
					</div>
				</div><!--.scr-boss__right-->
			</div><!--.container-->

			<img class="scr-boss__signa" src="_asset/img/signa.svg" alt=""/>
		</section><!--.scr-boss-->

		@@include('sections/_section-hypothec.html', {
			"flag": false
		})

		@@include('sections/_section-brokers.html', {})

		<section class="scr-history">
			<div class="container">
				<div class="scr-history__pic">
					<img src="_asset/img/moscow-river.svg" alt=""/>
					<img class="people" src="_asset/img/p-woman-back.svg" alt=""/>
				</div>

				<div class="scr-history__grid">
					<div class="scr-history__grid__left">
						<div class="scr-history__title">
							Царская Дорога
						</div>
						<div class="scr-history__txt">
							<p>Рублёвка — это место, которое было замечено ещё в XIV веке, во времена правления Ивана Калиты. Рублёвка в средневековье была историческим плацдармом для продвижения претендентов на верховную власть в Москве, именно поэтому московские князья в своих завещаниях оставляли Звенигородское направление главным, после Москвы.</p>
							<p>Окрестности Рублёвки, богатые дичью и необычайно живописные, всегда были излюбленным местом царской охоты. В советское и постсоветское время посёлки вдоль Рублёво-Успенского шоссе занимало руководство страны, включая госсекретарей и президентов, творческая интеллигенция, академики и крупные чиновники.</p>
						</div>
					</div><!--.scr-history__grid__left-->

					<div class="scr-history__grid__right">
						<div class="scr-history__title">
							История Жуковки
						</div>
						<div class="scr-history__txt">
							<p>Строительство Жуковки началось на берегу Москвы-реки в конце 1920-х годов для переселенцев из деревни Луцкое. Жуковка строилась не как деревня, а как современный по тем временам посёлок, с широкими просеками, полянами.</p>
							<p>Дома отличались большой площадью, а посёлок привлекал внимание сосновым бором, красивым высоким берегом Москвы-реки и окружающим пойменным лугом.</p>
						</div>
					</div><!--.scr-history__grid__right-->
				</div><!--.scr-history__grid-->
			</div><!--.container-->
		</section><!--.scr-history-->

		@@include('partials/_footer.html', {
			"page": "index"
		})
	</div><!--.body-wrapper-->

	@@include('partials/_modal-more.html')

	@@include('partials/_modal-quiz.html')

	@@include('partials/_modal-order.html')

	@@include('partials/_modal-callback.html')

</body>
</html>