@@include('partials/_head.html', {
	"title": "Жуковка",
	"pageScript": ""
})
<body class="p-success">
	<div class="body-wrapper">
		<section class="scr-success">
			<div class="modal__box">

				<div class="modal-card">
					<img class="modal-card__bg" src="_asset/img/zhukovka-dark.svg" alt=""/>
					<img class="modal-card__pic" src="_asset/img/success.png" alt=""/>

					<div>
						<div class="sct-title">
							Спасибо,<br/>
							за вашу заявку!
						</div>

						<div class="modal-card__sub-title">
							Один из наших брокеров свяжется с вами<br/>
							в ближайшее время.
						</div>
					</div>

					<a href="/" class="btn">
						<span class="btn__in">вернуться на главную</span>
						<span class="btn__hover">вернуться на главную</span>
					</a>

					<img class="modal-card__flag" src="_asset/img/flag-kalinka-sm.svg" alt=""/>
				</div><!--.modal--card-->
			</div><!--.modal__box-->
		</section><!--.scr-success-->
	</div><!--.body-wrapper-->
</body>
</html>